<!--SHOW MORE TOOLS POPUP COMPONENT START-->
<div class="vp-moretoolspopup vp-control">
	<!--TRIANGLE ARROW-->
	<div class="vp-moretoolspopup__topborder vp-uielement__popuptop"></div>
	<!--SELECTED TOOLS LIST CONTAINER-->
	<div class="vp-moretoolspopup__container vp-uielement__popup bg--white skip_slideup">
		<div class="vp-moretoolspopup__searchboxwrapper skip_slideup pt--sm pr--lg pb--sm pl--lg">
			<!--SEARCH FIELD -->
			<div class="vp-moretoolspopup__searchbox vp-uielement__searchbox">
				<form id="vp-moretoolspopup__searchform vp-uielement__searchform">
					<!--SEARCH INPUT TEXT-->
					<input class="vp-moretoolspopup__searchinput vp-uielement__searchinput text--light text--lg text--cs08 bg--cs06 skip_slideup" type="text" ng-model="searchToolKeyword" placeholder="Find a tool"
						name="" />
					<!--SEARCH INPUT SUBMIT BUTON-->
					<button type="button" class="vp-moretoolspopup__searchbtn vp-uielementt__searchbtn skip_slideup"></button>
				</form>
			</div>
		</div>
		<ul>
			<!--TOOL EXAMPLE (MODIFIERS: # vp-uielement__toolitem--unknown # vp-uielement__toolitem--ready # vp-uielement__toolitem--error)-->
			<li class="vp-moretoolspopup__toolitem pl--md skip_slideup" ng-repeat="tool in toolsSelectedToDeploy | filter : searchToolKeyword"  ng-class="getToolValidated(tool.tool_name, selectedMachine)">
				<!--TOOL STATE ICON-->
				<div class="vp-moretoolspopup__toolitemstate vp-uielement__itemstateicon vertical--middle mt--lg left"></div>
				<!--TOOL NAME-->
				<span class="vp-moretoolspopup__toolname word--break pl--md text--regular text--md text--cs03 skip_slideup inblock" ng-click="getSelectedTool($index, tool.version_number)">{{tool.tool_name}} V {{tool.version_number}}</span>
				<!--REMOVE BUTTON-->
				<div class="vp-moretoolspopup__removebtnwrapper right">
					<button type="button" class="vp-moretoolspopup__removebtn vp-uielement__button vp-uielement__button--smallclose mr--lg vertical--middle skip_slideup" ng-click="removeTool($index)"></button>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--SHOW MORE TOOLS POPUP COMPONENT END-->