<!--TAB COMPONENT START-->
<div class="vp-tabsvertical vp-control max--width max--height clearfix">
    <!--TABS HEADER NAVIGATION BAR-->
    <div class="vp-tabsvertical__nav max--width left">
        <nav>
            <ul class="vp-tabsvertical__navlist text--center table">
                <!--TAB ACTIVE VERSION STATE ( MODIFIERS: # vp-tabsvertical__tab--active # vp-tabsvertical__tab--empty # vp-tabsvertical__tab--nolabel)-->
                <li class="vp-tabsvertical__tab vp-tabsvertical__tab--active pointer left"id="vp_vertical_tab_proposed_tool_version">
                    <div class="vp-tabsvertical__tabinner max--height max--width intable">
                        <div class="vp-tabsvertical__labelwrap text--right pl--sm lh--font inblock table--cell vertical--middle">
                            <labe class="vp-tabsvertical__tabversion text--cs03 text--light text--md text--ellipsis text--ellipsis--single block">Ver.{{toolData.version.version_number}}v</labe>
                            <labe class="vp-tabsvertical__tabversionlabel text--cs08 text---light text--sm text--ellipsis text--ellipsis--single block">{{toolData.version.version_name}}</labe>
                        </div>
                        <!--<div class="vp-tabsvertical__tabstatuswrap right table&#45;&#45;cell max&#45;&#45;height" ng-if="version.status==='1'">-->
                            <!--&lt;!&ndash;VERSION STATUS STATE ICON (MODIFIERS: # vp-uielement__versionstate&#45;&#45;inactive # vp-uielement__versionstate&#45;&#45;active)&ndash;&gt;-->
                            <!--<span class="vp-tabsvertical__tabstatus vp-uielement__versionstate vp-uielement__versionstate&#45;&#45;active inblock"></span>-->
                        <!--</div>-->
                        <!--<div class="vp-tabsvertical__tabstatuswrap right table&#45;&#45;cell max&#45;&#45;height" ng-if="version.status==='0'">-->
                            <!--&lt;!&ndash;VERSION STATUS STATE ICON (MODIFIERS: # vp-uielement__versionstate&#45;&#45;inactive # vp-uielement__versionstate&#45;&#45;active)&ndash;&gt;-->
                            <!--<span class="vp-tabsvertical__tabstatus vp-uielement__versionstate vp-uielement__versionstate&#45;&#45;inactive inblock"></span>-->
                        <!--</div>-->
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <!--TAB BODY WRAPPER, LOAD TEMPLATE INSIDE-->
    <div class="vp-tabsvertical__body bg--white left pr--xxxl pb--xxxl pl--xxxl max--height relative">
        <div class="vp-tabsvertical__versionsform" ng-include="'static/components/tools/show-proposed-tool/version-form/versionsform.component.html'"></div>
    </div>
</div>
<!--TAB COMPONENT END-->