<!--CREATE A NEW MACHINE TAB CONTENT COMPONENT START-->
<div class="vp-createanewmach max" ng-controller="CreateNewDUSetStateController">
    <div class="vp-createanewmach__newmachineinfo pr--xl" ng-include="'static/components/states/create-duset-state-form/createdusetstateform.component.html'"></div>
    <!--TOOLBAR-->
    <div class="vp-createanewmach__toolbar bg--cs06 max--width fixed pos--bottom pos-left">
        <div class="vp-createanewmach__innerbounded clearfix">
            <div class="vp-createanewmach__savechangesbtnwrap right">
                <!--CREATE MACHINE BUTTON (MODIFIERS: # vp-uielement__button--deploydisabled )-->
                <button type="button" class="vp-createanewmach__createnewmachinebtn vp-uielement__button vp-uielement__button--deployenabled pr--lg pl--lg" ng-click="createNewDusetState(CreateNewDUSetStateForm)">Create DU Package State</button>
            </div>
            <!--DISCARD CHANCHES BUTTON-->
            <div class="vp-createanewmach__discardbtnwrap mr--xxxl right">
                <button type="button" class="vp-createanewmach__discardbtn vp-uielement__button vp-uielement__button--cleanenabled" ng-click="discardStateChanges()">Discard</button>
            </div>
        </div>
    </div>
</div>
<!--CREATE A NEW MACHINE TAB CONTENT COMPONENT END-->