<!--SHOW MORE MACHINES POPUP COMPONENT START-->
<div class="vp-moremachinespopup vp-control">
	<!--TRIANGLE ARROW-->
	<div class="vp-moremachinespopup__topborder vp-uielement__popuptop"></div>
	<!--SELECTED MACHINES LIST CONTAINER-->
	<div class="vp-moremachinespopup__container vp-uielement__popup bg--white">
		<div class="vp-moremachinespopup__searchboxwrapper pt--sm pr--lg pb--sm pl--lg">
			<!--SEARCH FIELD (MODIFIERS: # vp-moremachinespopup__searchbox--drop)-->
			<div class="vp-moremachinespopup__searchbox vp-uielement__searchbox">
				<div class="vp-moremachinespopup__searchautocomplete bg--cs06 absolute hidden" ng-include="'static/components/tools/deploy-tool-sets/search-autocomplete/searchautocomplete.component.html'"></div>
				<form id="vp-moremachinespopup__searchform vp-uielement__searchform">
					<!--SEARCH INPUT TEXT-->
					<input class="vp-moremachinespopup__searchinput vp-uielement__searchinput text--light text--lg text--cs08 bg--cs06" type="text"
						placeholder="Find a machine" name="searchMachine" ng-model="searchMachineKeyword"/>
					<!--SEARCH INPUT SUBMIT BUTON-->
					<button type="button" class="vp-moremachinespopup__searchbtn vp-uielementt__searchbtn"></button>
				</form>
			</div>
		</div>
		<ul ng-repeat="toolset in toolSetsSelectedToDeploy" ng-if="toolset.toolset_name === selectedToolSet.toolset_name">
			<!--TOOL EXAMPLE (MODIFIERS: # vp-uielement__toolitem--unknown # vp-uielement__toolitem--ready # vp-uielement__toolitem--error)-->
			<li class="vp-moremachinespopup__toolitem vp-uielement__toolitem--ready pl--md">
				<!--TOOL STATE ICON-->
				<div class="vp-moremachinespopup__toolitemstate vp-uielement__itemstateicon vertical--middle mt--lg left"></div>
				<!--TOOL NAME-->
				<span class="vp-moremachinespopup__toolname word--break pl--md text--regular text--md text--cs03 inblock">All machines</span>
				<!--REMOVE BUTTON-->
				<div class="vp-moremachinespopup__removebtnwrapper right">
					<button type="button" class="vp-moremachinespopup__removebtn vp-uielement__button vp-uielement__button--smallclose mr--lg vertical--middle" ng-click="removeMachine(toolset.toolset_name, 'all')"></button>
				</div>
			</li>
			<!--TOOL EXAMPLE (MODIFIERS: # vp-uielement__toolitem--unknown # vp-uielement__toolitem--ready # vp-uielement__toolitem--error)-->
			<!--<li class="vp-moremachinespopup__toolitem vp-uielement__toolitem&#45;&#45;unknown pl&#45;&#45;md">-->
				<!--&lt;!&ndash;TOOL STATE ICON&ndash;&gt;-->
				<!--<div class="vp-moremachinespopup__toolitemstate vp-uielement__itemstateicon vertical&#45;&#45;middle mt&#45;&#45;lg left"></div>-->
				<!--<span class="vp-moremachinespopup__toolname word&#45;&#45;break pl&#45;&#45;md text&#45;&#45;regular text&#45;&#45;md text&#45;&#45;cs03 inblock">AMain Office 1</span>-->
				<!--&lt;!&ndash;REMOVE BUTTON&ndash;&gt;-->
				<!--<div class="vp-moremachinespopup__removebtnwrapper right">-->
					<!--<button type="button" class="vp-moremachinespopup__removebtn vp-uielement__button vp-uielement__button&#45;&#45;smallclose mr&#45;&#45;lg  vertical&#45;&#45;middle"></button>-->
				<!--</div>-->
			<!--</li>-->
			<!--&lt;!&ndash;TOOL EXAMPLE (MODIFIERS: # vp-uielement__toolitem&#45;&#45;unknown # vp-uielement__toolitem&#45;&#45;ready # vp-uielement__toolitem&#45;&#45;error)&ndash;&gt;-->
			<!--<li class="vp-moremachinespopup__toolitem vp-uielement__toolitem&#45;&#45;error pl&#45;&#45;md">-->
				<!--&lt;!&ndash;TOOL STATE ICON&ndash;&gt;-->
				<!--<div class="vp-moremachinespopup__toolitemstate vp-uielement__itemstateicon vertical&#45;&#45;middle mt&#45;&#45;lg left"></div>-->
				<!--<span class="vp-moremachinespopup__toolname word&#45;&#45;break pl&#45;&#45;md text&#45;&#45;regular text&#45;&#45;md text&#45;&#45;cs03 inblock">C123.1232.1233</span>-->
				<!--&lt;!&ndash;REMOVE BUTTON&ndash;&gt;-->
				<!--<div class="vp-moremachinespopup__removebtnwrapper right">-->
					<!--<button type="button" class="vp-moremachinespopup__removebtn vp-uielement__button vp-uielement__button&#45;&#45;smallclose  mr&#45;&#45;lg vertical&#45;&#45;middle"></button>-->
				<!--</div>-->
			<!--</li>-->
			<!--TOOL EXAMPLE (MODIFIERS: # vp-uielement__toolitem--unknown # vp-uielement__toolitem--ready # vp-uielement__toolitem--error)-->
			<li class="vp-moremachinespopup__toolitem vp-uielement__toolitem--ready pl--md" ng-repeat="machine in toolset.requests">
				<!--TOOL STATE ICON-->
				<div class="vp-moremachinespopup__toolitemstate vp-uielement__itemstateicon vertical--middle mt--lg left"></div>
				<span class="vp-moremachinespopup__toolname word--break pl--md text--regular text--md text--cs03 inblock" ng-click="getSelectedMachine(machine.machine_name)">{{machine.machine_name}}</span>
				<!--REMOVE BUTTON-->
				<div class="vp-moremachinespopup__removebtnwrapper right">
					<button type="button" class="vp-moremachinespopup__removebtn vp-uielement__button vp-uielement__button--smallclose  mr--lg vertical--middle" ng-click="removeMachine(toolset.toolset_name, machine.machine_name)"></button>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--SHOW MORE machines POPUP COMPONENT END-->