<!--'MANAGE USERS AND PERMISSIONS' PARTIALS ASSEMBLY START-->
<div class="vp-manageusers max" ng-controller="AddNewUserController">
    <!--SIDE NAVBAR-->
    <div class="vp-manageusers__navaside fixed pos--top pos--bottom" ng-include="'static/components/dashboard/navaside/navaside.component.html'"></div>
    <div class="vp-manageusers__content max--height">
        <!--'MACHINES' HEADER COMPONENT-->
        <div class="vp-manageusers__header" ng-include="'static/components/manage-users/header/header.component.html '"></div>
        <!--'MACHINES' TABS COMPONENT-->
        <div class="vp-manageusers__tabs left max--width" ng-include="'static/components/manage-users/tabs/tabs.component.html'"></div>
    </div>
</div>
<!--'MANAGE USERS AND PERMISSIONS' PARTIALS ASSEMBLY END-->