<!--OPEN FILTER COMPONENT START-->
<div class="vp-filter vp-filter--openfilterdialog vp-uielement__popup vp-control overflow--auto max--width max--height filter_header_fixed">
	<!--TRIANGLE ARROW-->

	<div class="vp-filter__topborder vp-uielement__popuptop"></div>
	<div class="vp-filter__openfilterformwrapper bg--cs06">
		<form name="vp-filter__dashboardfilter">
			<div class="vp-filter__buttonsmenu max--width">
				<!--'APPLY' BUTTON-->
				<div class="vp-filter__applywrapper pl--md left">
					<button type="button" class="vp-uielement__button vp-filter__apply vp-uielement__button--apply pl--md" ng-click="applyDuFilters()">Apply</button>
				</div>
				<!--'CLEAR ALL' BUTTON-->
				<div class="vp-filter__clearallwrapper pl--md left">
					<button type="reset" class="vp-uielement__button vp-filter__clearall vp-uielement__button--cleanenabled" ng-click="resetFilter()">Clear All</button>
				</div>
				<div class=" vp-filter__cancelwrapper pr--md right">
					<button type="button" class="vp-uielement__button vp-uielement__button--cancle " ng-click="closeFilter()">Cancel</button>
				</div>
			</div>
			<!--FILTER ELEMENT START-->
			<div class="vp-filterelement max--width max--height filter_scrolled_content">
				<!--FILTER OPRIONS LIST-->
				<ul class="vp-filterelement__filterlist text--cs03 text--regular text--md text--capitalize">
					<!--FILTER LEVEL ONE VIEW
		            ( MODIFIERS : vp-filterelement__filterrowlvlone--expanded )-->
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone" ng-class="setStatusCSS(statusFlag)">
						<div class="vp-filterelement__filterrowdata" ng-click="showStatus()">
							<span class="vp-filterelement__expandicon inblock"></span>
							<span class="vp-filterelement__filtermainlable ml--sm">Status</span>
						</div>
						<!--LEVEL TWO FILTER CODE-->
						<div class="vp-filterelement__contentlvlonewrapper hidden">
							<ul>
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
									<div class="vp-header__filteroptionwrapper">
										<!--CHECKBOX ELEMENT-->
										<div class="vp-uielement__checkbox">
											<input id="vp-filterelement__popupanystatus" type="checkbox" id="vp-filterelement__popupanystatus" name="vp-filterelement__popupanystatus" ng-model="statusAny" value="any" ng-click="setStatusFilter('any')" />
											<label for="vp-filterelement__popupanystatus"></label>
										</div>
										<!--LEVEL TWO FILTER LABEL-->
										<label class="vp-filterelement__secondarylable" for="vp-filterelement__popupanystatus">Any</label>
									</div>
								</li>
								<!--FILTER LEVEL TWO CODE-->
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
									<div class="vp-header__filteroptionwrapper">
										<div class="vp-uielement__checkbox">
											<input type="checkbox" id="vp-filterelement__popupactivestatus" name="vp-filterelement__popupactivestatus" ng-model="statusActive" value="active" ng-click="setStatusFilter('active')"/>
											<label for="vp-filterelement__popupactivestatus"></label>
										</div>
										<label class="vp-filterelement__secondarylable" for="vp-filterelement__popupactivestatus">Active</label>
									</div>
								</li>
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo" ng-if="filterType==='All'">
									<div class="vp-header__filteroptionwrapper">
										<div class="vp-uielement__checkbox">
											<input type="checkbox" id="vp-filterelement__popupsuspendedstatus" name="vp-filterelement__popupsuspendedstatus" ng-model="statusDep" value="deprecated" ng-click="setStatusFilter('deleted')" />
											<label for="vp-filterelement__popupsuspendedstatus"></label>
										</div>
										<label class="vp-filterelement__secondarylable" for="vp-filterelement__popupsuspendedstatus">Deleted</label>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone" ng-class="setApprovalStatusCSS(approvalStatusFlag)">
						<div class="vp-filterelement__filterrowdata" ng-click="showApprovalStatus()">
							<span class="vp-filterelement__expandicon inblock"></span>
							<span class="vp-filterelement__filtermainlable ml--sm">Approval Status</span>
						</div>
						<!--LEVEL TWO FILTER CODE-->
						<div class="vp-filterelement__contentlvlonewrapper hidden">
								<ul>
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
									<div class="vp-header__filteroptionwrapper">
										<!--CHECKBOX ELEMENT-->
										<div class="vp-uielement__checkbox">
											<input type="checkbox" id="vp-filterelement__popupanyapprovalstatus" name="vp-filterelement__popupanystatus" ng-model="approvalAny" value="any" ng-click="setApprovalStatusFilter('any')" />
											<label for="vp-filterelement__popupanyapprovalstatus"></label>
										</div>
										<!--LEVEL TWO FILTER LABEL-->
										<label class="vp-filterelement__secondarylable" for="vp-filterelement__popupanyapprovalstatus">Any</label>
									</div>
								</li>
								<!--FILTER LEVEL TWO CODE-->
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo" ng-repeat="statusApproved in approvalStatus">
									<div class="vp-header__filteroptionwrapper">
										<div class="vp-uielement__checkbox">
											<input id="idx_statusApproved_{{$index}}" type="checkbox" name="vp-filterelement__approvalStatus" ng-model="duStatus" value="{{statusApproved.name}}" ng-click="setApprovalStatusFilter(statusApproved.name)" />
											<label for="idx_statusApproved_{{$index}}"></label>
										</div>
										<label class="vp-filterelement__secondarylable" for="idx_statusApproved_{{$index}}">{{statusApproved.name}}</label>
									</div>
								</li>
							</ul>
						</div>
					</li>

					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone" ng-class="setTagsCSS(tagsFlag)">
						<div class="vp-filterelement__filterrowdata" ng-click="showTags()">
							<span class="vp-filterelement__expandicon inblock"></span>
							<span class="vp-filterelement__filtermainlable ml--sm">Tag</span>
						</div>
						<!--LEVEL TWO FILTER CODE-->
						<div class="vp-filterelement__contentlvlonewrapper hidden">
							<ul>
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
									<div class="vp-header__filteroptionwrapper">
										<!--CHECKBOX ELEMENT-->
										<div class="vp-uielement__checkbox">
											<input type="checkbox" id="vp-filterelement__popupany" name="vp-filterelement__popupany" ng-model="tagAny" value="any" ng-click="setTagFilter('any')"/>
											<label for="vp-filterelement__popupany"></label>
										</div>
										<!--LEVEL TWO FILTER LABEL-->
										<label class="vp-filterelement__secondarylable" for="vp-filterelement__popupany">Any</label>
									</div>
								</li>
								<!--FILTER LEVEL TWO CODE-->
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo" ng-repeat="tag in tagsAll">
									<div class="vp-header__filteroptionwrapper">
										<div class="vp-tooltile__checkbox vp-uielement__checkbox">
											<input id="idx_tags_{{$index}}" type="checkbox" name="vp-filterelement__popupmaintenanceapplication" ng-model="tags" value="{{tag.name}}" ng-click="setTagFilter(tag.name)" />
											<label for="idx_tags_{{$index}}"></label>
										</div>
										<label class="vp-tooltile__checkboxlabel" for="idx_tags_{{$index}}">{{tag.name}}</label>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone"  ng-class="setDusetsCSS(DusetsFlag)">
						<div class="vp-filterelement__filterrowdata" ng-click="showDusets()">
							<span class="vp-filterelement__expandicon inblock"></span>
							<span class="vp-filterelement__filtermainlable ml--sm">DU Package</span>
						</div>
                        <!--LEVEL TWO FILTER CODE-->
						<div class="vp-filterelement__contentlvlonewrapper hidden">
							<ul>
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
									<div class="vp-header__filteroptionwrapper">
										<!--CHECKBOX ELEMENT-->
										<div class="vp-uielement__checkbox">
											<input type="checkbox" id="vp-filterelement__popupany_ts_2_any" name="vp-filterelement__popupany" ng-model="DusetAny" value="any" ng-click="setDusetFilter('any')"/>
											<label for="vp-filterelement__popupany_ts_2_any"></label>
										</div>
										<!--LEVEL TWO FILTER LABEL-->
										<label class="vp-filterelement__secondarylable" for="vp-filterelement__popupany_ts_2_any">Any</label>
									</div>
								</li>
								<!--FILTER LEVEL TWO CODE-->
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo" ng-repeat="duset in dusetsAll">
									<div class="vp-header__filteroptionwrapper">
										<div class="vp-uielement__checkbox">
											<input id="idx_ts_{{$index}}" type="checkbox" name="vp-filterelement__popupmaintenanceapplication" ng-model="dusets" value="{{duset.name}}" ng-click="setDusetFilter(duset.name)" />
											<label for="idx_ts_{{$index}}"></label>
										</div>
										<label class="vp-filterelement__secondarylable" for="idx_ts_{{$index}}">{{duset.name}}</label>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone"  ng-class="setDuTypeCSS(DuTypeFlag)">
						<div class="vp-filterelement__filterrowdata" ng-click="showDuTypes()">
							<span class="vp-filterelement__expandicon inblock"></span>
							<span class="vp-filterelement__filtermainlable ml--sm">Type</span>
						</div>
                        <!--LEVEL TWO FILTER CODE-->
						<div class="vp-filterelement__contentlvlonewrapper hidden">
							<ul>
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
									<div class="vp-header__filteroptionwrapper">
										<!--CHECKBOX ELEMENT-->
										<div class="vp-uielement__checkbox">
											<input type="checkbox" id="vp-filterelement__popupany_ts_2_type" name="vp-filterelement__popupany" ng-model="DutypeAny" value="any" ng-click="setDuTypeFilter('any')"/>
											<label for="vp-filterelement__popupany_ts_2_type"></label>
										</div>
										<!--LEVEL TWO FILTER LABEL-->
										<label class="vp-filterelement__secondarylable" for="vp-filterelement__popupany_ts_2_type">Any</label>
									</div>
								</li>
								<!--FILTER LEVEL TWO CODE-->
								<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo" ng-repeat="duData in DUTypes">
									<div class="vp-header__filteroptionwrapper">
										<div class="vp-uielement__checkbox">
											<input id="idx_ts_type_{{$index}}" type="checkbox" name="vp-filterelement__popupmaintenanceapplication" ng-model="Dutypes" value="{{duData.name}}" ng-click="setDuTypeFilter(duData.name)" />
											<label for="idx_ts_type_{{$index}}"></label>
										</div>
										<label class="vp-filterelement__secondarylable" for="idx_ts_type_{{$index}}">{{duData.name}}</label>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>

			</div>
			<!--FILTER ELEMENT END-->
		</form>
	</div>
</div>
<!--OPEN FILTER COMPONENT END-->