<!--MACHINE DETAILS VERTICAL TAB CONTENT COMPONENT START-->
<div class="vp-machdetails vp-control pt--xxxl pr--xl pb--xxxl pl--xxxl bg--white clearfix max">
    <div class="vp-permissionsselect bg--white max" ng-if="duOnMachine.length>0">
        <div class="vp-deploymentrequestmodalwrap fixed max--position hidden"  id="select_build_popup">
            <div class="vp-deploymentrequestmodal absolute" ng-include="'static/components/machines/popups/selectbuild-popup.component.html'"></div>
        </div>
        <div class="vp-deploymentrequestmodalwrap fixed max--position hidden"  id="checkSumPopup">
            <div class="vp-deploymentrequestmodal absolute" ng-include="'static/components/shared/popup/checksum-popup.html'"></div>
        </div>
        <!--COLUMN LABELS SECTION-->
        <section class="vp-permissionsselect__header text--capitalize text--cs03 text--light text--md max--width">
            <label class="vp-deployedtool_version_col inblock"><span class="permissionweight">DU Name</span></label>
            <label class="vp-deployedtool_version_col inblock"><span class="permissionweight">Type</span></label>
            <label class="deployedtool_table_col_build inblock"><span class="permissionweight">Build</span></label>
            <hr class="vp-permissionsselect__separator mt--md bg--cs09 ba--clear">
        </section>
        <!--PERMISSIONS SELECT SECTION-->
        <section class="vp-permissionsselect__body max--width">
            <form action="#" name="vp-permissionsselect__form">
                <ul class="vp-permissionsselect__list pt--xl">
                    <!--DEPLOY TOOLS PERMISSIONS-->
                    <li class="vp-permissionsselect__item vp-permissionsselect__itemdeploytools pt--xxxl max--width" ng-repeat="du in duOnMachine">
                        <div class="vp-permissionsselect__iteminner">
                            <div class="vp-deployedtool_version_col vertical--bottom text--regular text--lg inblock">
                                <span class="text--ellipsis text--ellipsis--single" style="white-space:pre-wrap">{{du.name}}</span>
                            </div>
                            <div class="vp-deployedtool_version_col vertical--bottom text--regular text--lg inblock">
                                <span class="text--ellipsis text--ellipsis--single">{{du.type}}</span>
                            </div>
                            <div class="vp-deployedtool_build_col vertical--bottom text--regular text--lg inblock">
                                <span class="text--ellipsis text--ellipsis--single" ng-if="du.build_no">{{du.build_no}}</span>
                                <span class="text--ellipsis text--ellipsis--single" ng-if="du.build_no === null || du.build_no === undefined || du.build_no === ''"> -- </span>
                            </div>
                            <div class="vp-deployedtool_actions_col vertical--bottom text--regular text--lg inblock">
                                <div class="vp-machdetails__fieldtypewrap vp-machdetails__editablewrap inblock">
                                    <button type="button" class="vp-machdetails__ipeditbtn vp-uielement__button vp-uielement__button--cleanenabled pa--none" ng-click="redeployDU(du._id.$oid, du.build_no, du.build_id, Machine.data._id.$oid)">Redeploy</button>
                                </div>
                            </div>
                            <div class="vp-deployedtool_actions_col vertical--bottom text--regular text--lg inblock">
                                <div class="vp-machdetails__fieldtypewrap vp-machdetails__editablewrap inblock">
                                    <button type="button" class="vp-machdetails__ipeditbtn vp-uielement__button vp-uielement__button--cleanenabled pa--none" ng-click="undeployDU(du._id.$oid, du.build_no, du.build_id, Machine.data._id.$oid)">Undeploy</button>
                                </div>
                            </div>
                            <div class="vp-deployedtool_actions_col vertical--bottom text--regular text--lg inblock">
                                <div class="vp-machdetails__fieldtypewrap vp-machdetails__editablewrap inblock">
                                    <button type="button" class="vp-machdetails__ipeditbtn vp-uielement__button vp-uielement__button--cleanenabled pa--none" ng-click="showDUBuilds(du)" ng-if="du.old_build_exists===true || du.old_build_exists==='true'">Revert</button>
                                </div>
                            </div>
                            <div class="vp-deployedtool_actions_col vertical--bottom text--regular text--lg inblock" ng-if="du.checksum">
                                <div class="vp-machdetails__fieldtypewrap vp-machdetails__editablewrap inblock">
                                    <button type="button" class="vp-machdetails__ipeditbtn vp-uielement__button vp-uielement__button--cleanenabled pa--none" ng-click="viewChecksumPopup(du.checksum)">Checksum</button>
                                </div>
                            </div>
                            <div class="vp-deployedtool_actions_col vertical--bottom text--regular text--lg inblock" ng-if="du.dep_group_details">
                                <div class="vp-machdetails__fieldtypewrap vp-machdetails__editablewrap inblock">
                                    <button type="button" class="vp-machdetails__ipeditbtn vp-uielement__button vp-uielement__button--cleanenabled pa--none" ng-click="DeploymentGroupDetails(du.dep_group_details._id)">{{du.dep_group_details.name}}</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </section>
    </div>
</div>
<!--MACHINE DETAILS VERTICAL TAB CONTENT COMPONENT END-->