<!--CREATE A NEW MACHINE TAB CONTENT COMPONENT START-->
<div class="vp-createanewmach max" ng-controller="AddMachineController">
    <div class="vp-createanewmach__newmachineinfo pr--xl" ng-include="'static/components/machines/create-anew-machine-form/createanewmachineform.component.html'"></div>
    <!--TOOLBAR-->
    <div class="vp-createanewmach__toolbar bg--cs06 max--width fixed pos--bottom pos-left">
        <div class="vp-createanewmach__innerbounded clearfix">
            <div class="vp-createanewmach__savechangesbtnwrap right">
                <!--CREATE MACHINE BUTTON (MODIFIERS: # vp-uielement__button--deploydisabled )-->
                <button type="button" class="vp-createanewmach__createnewmachinebtn vp-uielement__button vp-uielement__button--deployenabled pr--lg pl--lg" ng-click="createNewMachine(createNewMachineForm)">Create machine</button>
            </div>
            <!--DISCARD CHANCHES BUTTON-->
            <div class="vp-createanewmach__discardbtnwrap mr--xxxl right">
                <button type="button" class="vp-createanewmach__discardbtn vp-uielement__button vp-uielement__button--cleanenabled" ng-click="discardMachineChanges()">Discard</button>
            </div>
        </div>
    </div>
</div>
<!--CREATE A NEW MACHINE TAB CONTENT COMPONENT END-->