<!--MACHINES SEARCH COLUMN COMPONENT START-->
<div class="vp-machinessearch vp-search bg--white max--width">
    <span class="vp-search__topborder block"></span>
    <div class="vp-search__searchboxwrap pt--md pr--md pl--md">
        <!--SEARCH FIELD (MODIFIERS: # vp-search__searchbox--drop)-->
        <div class="vp-search__searchbox vp-uielement__searchbox relative">
            <div class="vp-search__searchautocomplete bg--cs06 absolute hidden" ng-include="'static/components/tools/deploy-tools/search-autocomplete/searchautocomplete.component.html'"></div>
            <form id="vp-search__searchform vp-uielement__searchform">
                <!--SEARCH INPUT TEXT-->
                <input class="vp-search__searchinput vp-uielement__searchinput" name="searchMachine" ng-model="searchMachineKeyword" type="text" placeholder="Find a machine" />
                <!--SEARCH INPUT SUBMIT BUTON-->
                <!--<button class="vp-search__searchbtn vp-uielementt__searchbtn" type="button"></button>-->
            </form>
            <!--SEARCH HINT-->
            <span class="vp-search__hint vp-uielement__hint">Use the alias,IP,host or deployed tools</span>
        </div>
    </div>
    <div class="vp-search__listwrapper machine_scroll max--width">
        <ul class="vp-search__list max--width">

            <!--ITEM EXAMPLE (MODIFIERS: # vp-search__item--test # vp-search__item--prod # vp-search__item--selected )-->
            <li class="vp-search__item" ng-repeat="machine in machines | filter:searchMachineKeyword" ng-class="setMachineTypeCSS(machine.machine_type, machine._id.$oid)">
                <div class="vp-search__iteminner pl--xxxl text--regular text--md relative clearfix">
                    <div class="vp-search__itemdescriptionwrap left">
                        <span class="vp-search__itemdescription text--cs03" style="white-space: pre-wrap;word-break: break-all;">{{machine.machine_name}}</span>
                    </div>
                    <div class="vp-machinessearch__item--machinetype mt--sm text--cs05 absolute">
                        <span class="vp-search__statusicon inblock mt--lg mr--md text--capitalize">{{machine.machine_type}}</span>
                    </div>
                    <div class="vp-search__statusiconwrap block absolute pos--right mr--lg"  ng-if="isFavorites(machine._id.$oid)" style="display: block">
                        <!--STATUS ICON (MODIFIERS: # vp-uielement__versionstate--inactive # vp-uielement__versionstate--active)-->
                        <span class="vp-search__statusicon vp-uielement__machinefav--icn inblock mt--lg mr--md"></span>
                    </div>
                    <div class="vp-search__statusiconwrap block absolute pos--right" ng-if="machine.status==='0'" style="display: block">
                        <!--STATUS ICON (MODIFIERS: # vp-uielement__versionstate--inactive # vp-uielement__versionstate--active)-->
                        <span class="vp-search__statusicon vp-uielement__versionstate--inactive inblock mt--lg mr--md"></span>
                    </div>
                    <div class="vp-search__statusiconwrap block absolute pos--right" ng-if="machine.status==='1'" style="display: block">
                        <!--STATUS ICON (MODIFIERS: # vp-uielement__versionstate--inactive # vp-uielement__versionstate--active)-->
                        <span class="vp-search__statusicon vp-uielement__versionstate--active inblock mt--lg mr--md"></span>
                    </div>
                    <div class="vp-search__itembtnwrap pointer relative right relative hidden">
                        <span class="vp-search__itembtn bg--cs07 text--center text--cs06 text--regular text--md absolute" ng-click="selectMachine(machine._id.$oid)">Select</span>
                    </div>
                </div>
            </li>
            <li class="vp-machinessearch__item vp-machinessearch__item--prod outer" ng-if="machines.length<totalCount" ng-hide="hideShowMoreMachine === true">
                <div class="vp-machinessearch__iteminner vp-machinessearch__item--test pl--xxxl text--regular text--md clearfix">
                    <div class="vp-machinessearch__itemdescriptionwrap pt--sm pb--sm word--break left">
                        <span class="">Show more Machine</span>
                    </div>
                    <div class="vp-machinessearch__itembtnwrap pointer relative right hidden">
                        <span class="vp-machinessearch__itembtn bg--cs07 text--center text--cs06 text--regular text--md absolute" ng-click="showMoreMachine()">Show more</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!---MACHINES SEARCH COLUMN COMPONENT END-->
