// VARIABLES: SECTION 50
.vp-permissionscont {
    &__form {
        width: @permissionsSelectWidth;
        padding-top: @permissionsSelectFormPT;
        padding-bottom: @toolbarHeight;
        padding-left: @permissionsSelectFormPL;
    }
}