<!--CREATE SEVERAL MACHINES (BULK) TAB CONTENT COMPONENT START-->
<div class="vp-createmachbulk" ng-controller="BulkMachineUploadController">
    <!--'CREATE BULK' FORM-->
    <div class="vp-createmachbulk__loadform" ng-include="'static/components/machines/load-file-form/loadfileform.component.html'"></div>
    <!--TOOLBAR-->
    <!--<div class="vp-createmachbulk__toolbar bg&#45;&#45;cs06 max&#45;&#45;width fixed pos&#45;&#45;bottom pos-left">-->
        <!--<div class="vp-createmachbulk__innerbounded clearfix">-->
            <!--<div class="vp-createmachbulk__savechangesbtnwrap right">-->
                <!--&lt;!&ndash;CREATE MACHINES BUTTON (MODIFIERS: # vp-uielement__button&#45;&#45;deploydisabled )&ndash;&gt;-->
                <!--<button type="button" class="vp-createmachbulk__createnewmachinesbtn vp-uielement__button vp-uielement__button&#45;&#45;deployenabled pr&#45;&#45;lg pl&#45;&#45;lg" ng-click="bulkMachineUpload(bulMachineUploadForm)">Create machines</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;DISCARD CHANCHES BUTTON&ndash;&gt;-->
            <!--<div class="vp-createmachbulk__discardbtnwrap mr&#45;&#45;xxxl right">-->
                <!--<button type="button" class="vp-createmachbulk__discardbtn vp-uielement__button vp-uielement__button&#45;&#45;cleanenabled" ng-click="discardChanges()">Discard</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<!--CREATE SEVERAL MACHINES (BULK) TAB CONTENT COMPONENT END-->