.idea/
server/**/*.pyc
server/**/*.pyo
temp/
.project
.pydevproject
server/log/*
node_modules/*
.gitlab-ci.yml
*.bak
ghostdriver.log
SeleniumTestReport.html
docs/*
ansible/*
package-lock.json
client/static/assets/*
client/static/components/*
client/static/node_modules/*
client/static/partials/*
client/static/src/*
client/static/styles/*
client/static/index.html
server/archives
server/static/files/*
server/static/*
templates-app.js
valuepack-1.0.0.css
log/*
logs/*
server/logs/*
client/node_modules/*
client/static/
