// VARIABLES: SECTION 35
.vp-editscreenshot {
    width: @editLogoPopupWidth;
    //TOP ARROW POSITION
    .vp-editscreenshot__popuptop{
        &:before{
            left: @editLogoTopArrowLeft;
        }
    }
}

.file_input {
    width: 94px;
    height: 21px;
    margin-left: -245%;
    background-color: white;
    margin-bottom: -6px;
}