<!--EDIT TOOLS PARTIALS ASSEMBLY START (MODIFIERS: # vp-edittools--scroled)-->
<div class="vp-edittools vp-control max--width">
    <!--SIDE NAVBAR SECTION-->
    <div class="vp-edittools__navaside fixed pos--top pos--bottom" ng-include="'static/components/dashboard/navaside/navaside.component.html'"></div>
    <!--HEADER SECTION-->
    <div class="vp-edittools__header fixed pos--top pos--right pos--left" ng-include="'static/components/tools/deploy-tools/header/header.component.html'"></div>
    <div class="vp-edittools__content bg--white max--height relative">
        <div class="vp-edittools__contentbounded pr--xxxl">
            <!--TOO INFORMATION SECTION-->
            <h1>You are not allowed to perform this operation</h1>
        </div>
    </div>
</div>
<!--EDIT TOOLS PARTIALS ASSEMBLY END-->