<!--FILTER COMPONENT START-->
<!--FILTER DEFAUL THEME-->
<div class="vp-filterelement max--width max--height">
	<!--FILTER OPRIONS LIST-->
	<ul class="vp-filterelement__filterlist text--cs03 text--regular text--md text--capitalize">
		<!--FILTER LEVEL ONE VIEW
		( MODIFIERS : vp-filterelement__filterrowlvlone--expanded )-->
		<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone vp-filterelement__filterrowlvlone--expanded">
			<div class="vp-filterelement__filterrowdata ">
				<span class="vp-filterelement__expandicon inblock"></span>
				<span class="vp-filterelement__filtermainlable ml--sm">Status</span>
			</div>
			<!--LEVEL TWO FILTER CODE-->
			<div class="vp-filterelement__contentlvlonewrapper hidden">
				<ul>
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
						<div class="vp-header__filteroptionwrapper">
							<!--CHECKBOX ELEMENT-->
							<div class="vp-uielement__checkbox">
								<input type="checkbox" id="vp-filterelement__anystatus" name="vp-filterelement__anystatus" />
								<label for="vp-filterelement__anystatus"></label>
							</div>
							<!--LEVEL TWO FILTER LABEL-->
							<label class="vp-filterelement__secondarylable" for="vp-filterelement__anystatus">Any</label>
						</div>
					</li>
					<!--FILTER LEVEL TWO CODE-->
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
						<div class="vp-header__filteroptionwrapper">
							<div class="vp-uielement__checkbox">
								<input type="checkbox" id="vp-filterelement__activestatus" name="vp-filterelement__activestatus" />
								<label for="vp-filterelement__activestatus"></label>
							</div>
							<label class="vp-filterelement__secondarylable" for="vp-filterelement__activestatus">Active</label>
						</div>
					</li>
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
						<div class="vp-header__filteroptionwrapper">
							<div class="vp-uielement__checkbox">
								<input type="checkbox" id="vp-filterelement__suspendedstatus" name="vp-filterelement__suspendedstatus" />
								<label for="vp-filterelement__suspendedstatus"></label>
							</div>
							<label class="vp-filterelement__secondarylable" for="vp-filterelement__suspendedstatus">Suspended</label>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone vp-filterelement__filterrowlvlone--expanded">
			<div class="vp-filterelement__filterrowdata ">
				<span class="vp-filterelement__expandicon inblock"></span>
				<span class="vp-filterelement__filtermainlable ml--sm">Application</span>
			</div>
			<!--LEVEL TWO FILTER CODE-->
			<div class="vp-filterelement__contentlvlonewrapper hidden">
				<ul>
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
						<div class="vp-header__filteroptionwrapper">
							<!--CHECKBOX ELEMENT-->
							<div class="vp-uielement__checkbox">
								<input type="checkbox" id="vp-filterelement__any" name="vp-filterelement__any" />
								<label for="vp-filterelement__any"></label>
							</div>
							<!--LEVEL TWO FILTER LABEL-->
							<label class="vp-filterelement__secondarylable" for="vp-filterelement__any">Any</label>
						</div>
					</li>
					<!--FILTER LEVEL TWO CODE-->
					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
						<div class="vp-header__filteroptionwrapper">
							<div class="vp-uielement__checkbox">
								<input type="checkbox" id="vp-filterelement__maintenanceapplication" name="vp-filterelement__maintenanceapplication" />
								<label for="vp-filterelement__maintenanceapplication"></label>
							</div>
							<label class="vp-filterelement__secondarylable" for="vp-filterelement__maintenanceapplication">Maintenance</label>
						</div>
					</li>

					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
						<div class="vp-header__filteroptionwrapper">
							<div class="vp-uielement__checkbox">
								<input type="checkbox" id="vp-filterelement__suspendedsecurity" name="vp-filterelement__suspendedsecurity" />
								<label for="vp-filterelement__suspendedsecurity"></label>
							</div>
							<label class="vp-filterelement__secondarylable" for="vp-filterelement__suspendedsecurity">Security</label>
						</div>
					</li>

					<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvltwo">
						<div class="vp-header__filteroptionwrapper">
							<div class="vp-uielement__checkbox">
								<input type="checkbox" id="vp-filterelement__suspendedsupport" name="vp-filterelement__suspendedsupport" />
								<label for="vp-filterelement__suspendedsupport"></label>
							</div>
							<label class="vp-filterelement__secondarylable" for="vp-filterelement__suspendedsupport">Support</label>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="vp-filterelement__filterrow vp-filterelement__filterrowlvlone">
			<div class="vp-filterelement__filterrowdata ">
				<span class="vp-filterelement__expandicon inblock"></span>
				<span class="vp-filterelement__filtermainlable ml--sm">Tool sets</span>
			</div>
		</li>
	</ul>

</div>
<!--FILTER COMPONENT END-->