<!--'UPDATE PASSWORD' MODAL COMPONENT START-->
<div class="vp-changepasswordmodal vp-control bg--white relative">
	<div class="vp-changepasswordmodal__header">
		<!--TITLE-->
		<h1 class="vp-changepasswordmodal__title text--cs06 text--xl text--light mt--xl ml--xl inblock">Update Password</h1>
		<!--CLOSE BUTTON-->
		<button type="button" class="vp-changepasswordmodal__closebtn btn--clear mt--md mr--lg right" ng-click="closePassword()"></button>
	</div>

	<!--MODAL BODY-->
	<div class="vp-changepasswordmodal__body">
		<!--FIELD TITLE SECTION-->
		<section class="vp-changepasswordmodal__title">
			<label class="vp-changepasswordmodal__fieldname text--cs03 text--light text--md inblock">New Password:</label>
			<div class="vp-userform__fieldcontent vp-userform__emailcontent inblock">
				<input type="password" class="vp-userform__emailinput input--clear" name="vp-userform__passwordinput" ng-model="Machine.data.password" style="margin-left:20px;">
			</div>
		</section>
        <h5 class="mandatory" ng-if="useredit_errors.password" style="margin-left:112px;">{{useredit_errors.password}}</h5>
		<section class="vp-changepasswordmodal__type mt--xl">
			<label class="vp-changepasswordmodal__fieldname text--cs03 text--light text--md inblock">Confirm Password:</label>
			<div class="vp-userform__fieldcontent vp-userform__emailcontent inblock">
				<input type="password" class="vp-userform__emailinput input--clear" name="vp-userform__confirmpasswordinput" ng-model="Machine.data.confirmpassword">
			</div>
		</section>
        <h5 class="mandatory" ng-if="useredit_errors.confirmpassword" style="margin-left:112px;">{{useredit_errors.confirmpassword}}</h5>
        <h5 class="mandatory" ng-if="useredit_errors.password_mismatch" style="margin-left:112px;">{{useredit_errors.password_mismatch}}</h5>

		</div>

		<!--MODAL FOOTER-->
		<div class="vp-changepasswordmodal__footer absolute pos--bottom">
			<!--CLOSE BUTTON-->
			<div class="vp-changepasswordmodal__closebtnwrap inblock">
				<button type="button" class="vp-addsettingmodal__footerclosebtn vp-uielement__button vp-uielement__button--close" ng-click="closePassword()">Close</button>
			</div>
			<!--DISCARD BUTTON-->
			<div class="vp-rdmodal__discardbtnwrap right">
				<button type="button" ng-disabled="EditToolForm.input_type.$error.required" class="vp-changepasswordmodal__donebtn vp-uielement__button vp-uielement__button--deployenabled" ng-click="checkPassword()">Done</button>
			</div>
		</div>
	</div>
	<!--'ADD A SETTING' MODAL COMPONENT END-->