// VARIABLES: SECTION 32
// COPONENT CLASS
.vp-sttoolinfo {
    .vp-sttoolinfo__descriptionwrap, .vp-sttoolinfo__supportinput, .vp-sttoolinfo__supportwrap, .vp-sttoolinfo__tagswrap, .vp-sttoolinfo__tagsinput, .vp-sttoolinfo__certifiedwrap, .vp-sttoolinfo__tagswrap {
        line-height: @inputFieldHeight;
    }
    .vp-sttoolinfo__descriptioncontentinner {
        max-height: @descriptionMaxHeight;
        max-width: @showToolContentWidth;
    }
    //TAGS INPUT SIZE
    .vp-sttoolinfo__tagsinput {
        width: @longFieldsWidth/2;
    }
    //LABEL MAX WIDTH DEFINITION
    .vp-sttoolinfo__label {
        width: @labelWidth;
        height: @inputFieldHeight;
        .text--right;
    }
    // INPUT FIELDS
    input[type=text] {
        border: 1px solid @cs09;
    }
}
.retainbuild{
    margin-right: 150px;
}