// VARIABLES: SECTION 34
.vp-ettoolbar {
    height: @toolbarHeight;
    line-height: @toolbarHeight;
    box-shadow: -1px 0px 9px 3px rgba(0, 0, 0, 0.14);
    .vp-dttoolbar__savebtn {
        width: @mediumBtnWidth;
    }
    //TOOLBAR IINER CONTAINER BOUNDED STYLES
    .vp-ettoolbar__innerbounded {
        width: @innerBoundedWidth; 
        padding-right: @toolbarPA;
        padding-left: @toolbarPA; 
    }
}