// VARIABLES: SECTION 8
// COPONENT CLASS
div.vp-header {
    height: @headerHeight;
    // GRADIENT BACKGROUND IMAGE 
    background-image: -webkit-linear-gradient(90.9deg, @cs01 0%, @cs01 45%, @cs02 47%, @cs02 100%);   
    background-image: linear-gradient(-0.9deg, @cs01 0%, @cs01 45%, @cs02 47%, @cs02 100%);
}
.progress_loader {
    border: 5px solid #39608b;
    border-top: 6px solid white;
    outline: none;
    min-height: 10px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 1.5px;
    right: 1.5px;
    height: 27px;
    width: 27px;
    border-radius: 13.5px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
