<!--SHOW TOOL PARTIALS ASSEMBLY START-->
<div class="vp-showtool max" ng-controller="ShowToolPartialController">
    <!--SIDE NAVBAR SECTION-->
    <div class="vp-showtool__navaside fixed pos--top pos--bottom" ng-include="'static/components/dashboard/navaside/navaside.component.html'"></div>
    <!--SCREENSHOTS BROWSER/CAROUSEL WRAPPER (MODIFIERS: # vp-showtool__screenshotbrowserwrap--show )-->
    <div class="vp-showtool__screenshotbrowserwrap absolute hidden" id="view_screenshot">
        <div class="vp-showtool__screenshotbrowser ma-hor--auto table" ng-include="'static/components/tools/show-tool/screenshots-browser/screenshots-browser.component.html'"></div>
    </div>
    <div class="vp-showtool__content bg--white max--height relative">
        <!-- HEADER MESSAGE SECTION-->
        <div class="vp-toolspage__headnotificationwrap">
		    <div class="vp-toolspage__headnotification" ng-include="'static/components/dashboard/header-message/headermessage.component.html'"></div>
	    </div>
        <!--HEADER SECTION-->
        <div class="vp-edittools__header  pos--top pos--right pos--left" ng-include="'static/components/tools/show-tool/header/header.component.html'" style="z-index: 10;"></div>
        <div class="content_height">
            <div class="vp-edittools__content bg--white max--height tool_scroll relative">
                <div class="vp-showtool__contentbounded " style="width:100%" ng-if="application.data">
                    <!--TOOL INFORMATION SECTION-->
                    <div class="vp-showtool__toolinfo" ng-include="'static/components/tools/show-tool/tool-info/toolinfo.component.html'"></div>
                    <!--TABS SECTION-->
                    <div class="vp-showtool__tabs pa--xxxl" ng-include="'static/components/tools/show-tool/tabs/verticaltabs.component.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SHOW TOOL PARTIALS ASSEMBLY END-->