<div class="vp-distribution vp-deploytools max--height max--width">
    <!--SIDE NAVBAR-->
    <div class="vp-toolspage__headnotification" ng-include="'static/components/dashboard/header-message/headermessage.component.html'"></div>
    <div class="vp-distribution__navaside fixed pos--top pos--bottom" ng-include="'static/components/dashboard/navaside/navaside.component.html'"></div>
    <div class="vp-distribution__content max--height">
        <div class="vp-distribution__header" ng-include="'static/components/manage-fas/header/header.component.html'"></div>
        <!--DISTRIBUTION TABS COMPONENT-->
        <div class="vp-distribution__tabs left max--width" ng-include="'static/components/manage-fas/tabs/tabs.component.html'"></div>
    </div>
</div>