<!--'ADD NEW SERVICE' TAB CONTENT COMPONENT START-->
<div class="vp-addnewmachinecont vp-control max" ng-controller="CreateNewPrerequisiteController">
    <form name="createNewPrerequisitesForm">
        <div class="vp-addnewmachinecont__form" ng-include="'static/components/manage-prerequisites/add-new-prerequisite-form/addnewprerequisiteform.component.html'"></div>
        <!--TOOLBAR -->
        <div class="vp-addnewmachinecont__toolbar fixed pos--bottom pos--left bg--cs06 max--width">
            <div class="vp-addnewmachinecont__innerbounded clearfix">
                <div class="vp-addnewmachinecont__addmachinebtnwrap right">
                    <!--ADD SERVICE BUTTON (MODIFIERS: # vp-uielement__button--deploydisabled )-->
                    <button type="button" class="vp-addnewmachinecont__addnewmachinebtn vp-uielement__button vp-uielement__button--deployenabled pr--lg pl--lg"  ng-click="createNewPrerequisite(createNewPrerequisitesForm)">Add Prerequisite To List</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--'ADD NEW SERVICE' TAB CONTENT COMPONENT END-->