<!--ATTENTION MODAL COMPONENT START-->
<div class="vp-attentionmodal vp-control bg--cs10 pt--xxxl pr--xxxl pb--xl pl--xxxl">
    <!--HEADER TITLE-->
    <h1 class="vp-attentionmodal__header text--cs03 text--light text--xxl">Attention!</h1>
    <!--TEXT AREA-->
    <div class="vp-attentionmodal__msgwrap pt--xxxl pb--xxxl text--cs3 text--light text--lg">
        <p>Removing this {{entity_name}} will not show this {{entity_name}} further on dashboard.</p>
        <p class="mt--xxl">Click "Continue" to proceed or "Cancel" to return without removing this {{entity_name}}.</p>
    </div>
    <!--BUTTONS WRAPPER-->
    <div class="vp-attentionmodal__btnswrap right" ng-if="entity_name==='tool'">
        <!--CANCEL BUTTON-->
        <button type="button" class="vp-attentionmodal__cancelbtn vp-uielement__button vp-uielement__button--cleanenabled" ng-click="cancelRemoveTool()">Cancel</button>
        <!--CONTINUE BUTTON-->
        <button type="button" class="vp-attentionmodal__continuebtn vp-uielement__button vp-uielement__button--apply ml--xxxl" ng-click="continueRemoveTool()">Continue</button>
    </div>
    <!--BUTTONS WRAPPER-->
    <div class="vp-attentionmodal__btnswrap right" ng-if="entity_name==='du'">
        <!--CANCEL BUTTON-->
        <button type="button" class="vp-attentionmodal__cancelbtn vp-uielement__button vp-uielement__button--cleanenabled" ng-click="cancelRemoveDU()">Cancel</button>
        <!--CONTINUE BUTTON-->
        <button type="button" class="vp-attentionmodal__continuebtn vp-uielement__button vp-uielement__button--apply ml--xxxl" ng-click="continueRemoveDU()">Continue</button>
    </div>
</div>
<!--ATTENTION MODAL COMPONENT END-->