// VARIABLES: SECTION 25
.vp-autocomplete {
    box-shadow: 0 4px 2px -2px gray;
    //ITEM ROW STYLE
    .vp-autocomplete__item {
        &:hover {
            p {
                color: @cs04;
            }
        }
    }
    //ROW INNER DATA STYLE
    .vp-autocomplete__iteminner {
        line-height: 1.5;
    }
}