// VARIABLES: SECTION 54
.vp-selectedsettingform {
    // setting SELECTED FRO THE LIST
    &.vp-selectedsettingform--active{
        &:after{
            content: none;
        }
        .vp-settingform__selectedsettingform{
            .block;
        }
    }
    // IF NO setting SELECTED SHOW FORM COVER
    &:after{
        content: 'Select a setting from the list';
        .block;
        .text--center;
        width: @noFormCoverWidth;
        line-height: @noFormCoverWidth;
        .bg--cs06;
        .text--cs08;
        .text--light;
        .text--xxl;
    }
    input[type=text] {
        border: 1px solid @cs08;
        &:focus {
            border: 1px solid @cs04;
        }
    }
    // SELECTED setting NAME MAX LENGTH
    .vp-settingform__selectedsettingnamewrap {
        max-width: @maxNameLenth;
    }
    // SUSPEND CHECKBOX MARGIN TOP
    .vp-settingform__suspentbox{
        margin-top: @suspendCheckboxMT;
    }
}

    .mandatory {
    }

    // ATTENTION MODAL STYLES
    .vp-settingform__addsettingmodalwrap {
        z-index: 9999;
        min-width: @minWidth;
        background-color: @csdarkmutted;
        &--show {
            .block;
        }
    }
    // 'ADD A SETTING' MODAL POSITION
    .vp-settingform__addsettingmodal {
        top: 50%;
        left: 50%;
        margin-top: -@addSettingHeight/2;
        margin-left: -@rdModalWidth/2;
    }

// VARIABLES: SECTION 36
// COPONENT CLASS
.vp-changepasswordmodal {
    width: 460px; //50%; //@rdModalWidth;
    height: 260px; //58%;//@addSettingHeight;
    top: 20%;
    left: 25%;
    // HEADER STYLE
    &__header {
        height: @rdModalHeaderHeight;
        background-image: -webkit-linear-gradient(91.5deg, transparent 0%, transparent 22%, @cs01 24%, @cs01 100%);
        background-image: linear-gradient(-1.5deg, transparent 0%, transparent 22%, @cs01 24%, @cs01 100%);
    }
    &__body {
        padding-top: @rdModalBodyPT;
        padding-left: @rdModalBodyPL;
    }
    // CLOSE BUTTON
    &__closebtn {
        width: @rdModalBtnSize;
        height: @rdModalBtnSize;
        background: url('../assets/images/icons/big_x_btn.png') no-repeat;
        background-size: contain;
    }
    //SECTION FIELD LABEL
    &__fieldname {
        min-width: @rdModalLAbelMinWidth;
    }
    &__titleinput, &__dropdownlist {
        width: @titleFieldWidth;
        height: @inputFieldHeight;
        border: 1px solid @cs09;
        &:focus {
            border-color: @cs04;
        }
    }
    //OPTIONS LIST ITEM WIDTH
    .vp-addsettingmodal__optionsitem {
        width: @titleFieldWidth;
        &--default{
            .vp-addsettingmodal__optionname:after{
                content: 'Default';
                .text--cs08;
                .text--light;
                .text--sm;
                .ml--xxl;
                .inblock;
            }
        }
    }
    // FOOTER VIEW STYLES
    &__footer {
        padding-left: @rdModalBodyPL;
        padding-right: @rdModalBodyPL;
        height: @rdModalFooterHeight;
        line-height: @rdModalFooterHeight;
        width: @rdModalWidth;
        border-top: 1px solid @cs09;
    }
}


.vp-settingform__fieldcontent input {
    width: 200px;
}
.vp-settingform__fieldcontent input, .vp-settingform__fieldcontent select {
    border: 1px solid #969898;
    color: #292e4c;
    font-weight: 500;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}


.settinginput--clear {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
}
