<!--PRE REQUISITIES EDIT POPUP COMPONENT START-->
<div class="vp-tooldepqeditpopup vp-control">
    <div class="vp-tooldepqeditpopup__popuptop vp-uielement__popuptop"></div>
    <div class="vp-tooldepqeditpopup__container vp-uielement__popup pt--md pr--xl pb--xl pl--xl bg--white">
        <div class="vp-tooldepqeditpopup__inputwrap">
            <input type="text" class="vp-tooldepqeditpopup__input input--clear max--width text--cs03 text--regular text--lg" ng-model="searchStatusKeyword">
        </div>
        <div class="vp-tooldepqeditpopup__optionswrap mt--lg">
            <!--VERSION OPTIONS LIST-->
            <ul class="vp-tooldepqeditpopup__optionslist text--cs03 text--regular text--md">
                <!--VERSION ITEM EXAMPLE-->
                <li class="vp-tooldepqeditpopup__optionsitem mt--md" ng-repeat="status in approvalStatus | filter : searchStatusKeyword">
                    <div class="vp-tooldepqeditpopup__iteminner text--ellipsis">
                        <div class="vp-tooldepqeditpopup__checkbox vp-uielement__checkbox">
                            <!--ITEM CHECKBOX-->
                            <input type="checkbox" id="vp-deptoolsaddStatuspopup__c1_{{$index}}" name="vp_addstatus" ng-model="statusDetials[$index]" value="{{status.name}}" ng-click="selectApprovalStatus(status.name)" ng-checked="isStatusSelected(status.name)"/>
                            <label for="vp-deptoolsaddStatuspopup__c1_{{$index}}"></label>
                            <!--ITEM NAME WRAPPER-->
                            <div class="vp-tooldepqeditpopup__itemnamewrap ml--sm inblock vertical--bottom">
                                <label for="vp-deptoolsaddStatuspopup__c1_{{$index}}" class="vp-tooldepqeditpopup__itemname text--ellipsis text--ellipsis--single" title="{{status.name}}">{{status.name}}</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" class="vp-uielement__button  vp-uielement__button--apply mt--xl" ng-click="closeAddStatus()">Apply</button>
    </div>
</div>
<!--PRE REQUISITIES EDIT POPUP COMPONENT END-->