<!--setting PARTIALS ASSEMBLY START-->
<div class="vp-setting max" ng-controller="SettingsViewController">
    <!--SIDE NAVBAR-->
    <div class="vp-toolspage__headnotification" ng-include="'static/components/dashboard/header-message/headermessage.component.html'"></div>
    <div class="vp-setting__navaside fixed pos--top pos--bottom" ng-include="'static/components/dashboard/navaside/navaside.component.html'"></div>
    <div class="vp-setting__content max--height" style="min-width: 95%;">
        <!--setting HEADER COMPONENT-->
        <div class="vp-setting__header" ng-include="'static/components/settings/header/header.component.html'"></div>
        <!--setting TABS COMPONENT-->
        <div class="vp-setting__tabs left max--width" ng-include="'static/components/settings/tabs/tabs.component.html'"></div>
    </div>
</div>
<!--setting PARTIALS ASSEMBLY END-->