<!--SEARCH AUTO COMPLETE COMPONENT START-->
<div class="vp-autocomplete vp-control max--width">
    <ul class="vp-autocomplete__list">
        <!--SEARCH ITEM EXAMPLE-->
        <li class="vp-autocomplete__item pl--md">
            <div class="vp-autocomplete__iteminner text--cs03 text--light text--lg">
                <p>Main Office 1</p>
            </div>
        </li>
         <!--SEARCH ITEM EXAMPLE-->
         <li class="vp-autocomplete__item pl--md">
            <div class="vp-autocomplete__iteminner text--cs03 text--light text--lg">
                <p>Main Office2</p>
            </div>
        </li>
         <!--SEARCH ITEM EXAMPLE-->
         <li class="vp-autocomplete__item pl--md">
            <div class="vp-autocomplete__iteminner text--cs03 text--light text--lg">
                <p>Main Office3</p>
            </div>
        </li>
         <!--SEARCH ITEM EXAMPLE-->
        <li class="vp-autocomplete__item pl--md">
            <div class="vp-autocomplete__iteminner text--cs03 text--light text--lg">
                <p>Main Office 4</p>
            </div>
        </li>
    </ul>
</div>
<!--SEARCH AUTO COMPLETE COMPONENT END-->