<!--TILE GRID COMPONENT START-->
<!--(MODIFIERS: vp-tilegrid--large # vp-tilegrid--small)-->
<div class="vp-tilegrid vp-component max--height clearfix" ng-controller="ProposedToolListController">
	<!--(MODIFIERS: vp-tilegrid--large # vp-tilegrid--small)-->
	<div class="vp-tabs__bodyheader vp-tabs__bodyheader--scrolled relative">
		<!--&lt;!&ndash;MODIFIER: # vp-uielement__button&#45;&#45;cleanenabled # vp-tabs__bodyheaderselectedtooplsbtn&#45;&#45;show &ndash;&gt;-->
		<!--<button type="button" class="vp-uielement__button vp-uielement__button&#45;&#45;cleanenabled pa&#45;&#45;none" ng-click="show = !show"><span class="vp-header__selectedcounter">{{selectedTools.length}}</span><span> tools</span></button>-->
		<!--<span class="text&#45;&#45;regular text&#45;&#45;md">selected</span>-->
		<!--<div id="selected_tools" class="vp-tabs__bodyheaderselectedtoolspopup  absolute" ng-class="{'selectedtoolspopup&#45;&#45;show': show, 'selectedtoolspopup&#45;&#45;hide': !show}" ng-include="'static/components/dashboard/selected-tools-popup/selectedtoolspopup.component.html'"></div>-->
		<!--&lt;!&ndash;'DEPLOY SELECTED TOOLS' BUTTON VIEW (MODIFIERS: # vp-uielement__button&#45;&#45;deployselectedtoolsenabled)&ndash;&gt;-->
		<!--<button type="button" class="vp-tabs__bodyheaderdeploybtn vp-uielement__button vp-uielement__button&#45;&#45;deployselectedtoolsenabled ml&#45;&#45;xl " ng-click="selectMultipleToolsForImport(selectedTools)">Import selected tools</button>-->
			<!--&lt;!&ndash;'SELECT ALL' BUTTON VIEW&ndash;&gt;-->
			<!--<button type="button" class="vp-tabs__bodyheaderselectallbtn vp-uielement__button vp-uielement__button&#45;&#45;cleanenabled ml&#45;&#45;xl text&#45;&#45;regular text&#45;&#45;lg">Select all</button>-->
			<!--&lt;!&ndash;<div class="vp-tabs__bodyheaderfiltericonwrapper mr&#45;&#45;xxxl text&#45;&#45;light text&#45;&#45;md text&#45;&#45;cs03 pointer right">&ndash;&gt;-->
				<!--&lt;!&ndash;&lt;!&ndash;BODY HEADER FILTER BUTTON &ndash;&gt;&ndash;&gt;-->
				<!--&lt;!&ndash;<div id="show_dashboard_filter" class="vp-tabs__bodyheaderselectedtoolspopup absolute  hidden" style="margin-left: -161px; margin-top: 52px;" ng-include="'static/components/dashboard/filter/dashboardfilter.component.html'"></div>&ndash;&gt;-->
				<!--&lt;!&ndash;<button type="button" class="vp-tabs__bodyheaderfilterbtn vp-uielement__button tag_popup vp-uielement__button&#45;&#45;cleanenabled pl&#45;&#45;xxl text&#45;&#45;light text&#45;&#45;md" ng-click="showFilter()"><span>Filter</span></button>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
	</div>
	<div class="vp-tilegrid__listwrapper overflow-y--auto max--height clearfix">
		<ul>
			<li class="vp-tilegrid__tile pa--sm left" ng-repeat="tool in applications | filter:searchToolKeyword">
				<!--DEPLOY TOOL "TILE" ELEMENT START-->
				<!--( MODIFIERS: vp-tooltile__containingtoolmsg--active # vp-tooltile__deprecatedwarning--active # vp-tooltile--selected # vp-tooltile__favorite--active )-->
				<div ng-class="{'vp-tooltile--selected': selected , 'vp-tooltile--not-selected': !selected  }" class="vp-tooltile vp-component text--cs03 pt--md pr--md pl--md vp-tooltile__containingtoolmsg--active vp-tooltile__deprecatedwarning--active vp-tooltile__favorite--active  relative">
					<div class="vp-tooltile__iconswrapprer left">
						<!--TILE ICON-->
						<div class="vp-tooltile__icon text--light text--xxxxl text--white vertical--top text--center bg--cs01">
							<span class="vp-tooltile_iconinner">
								<img alt="" class="vp-tooltile_iconinner" src="{{tool.thumbnail_logo}}" style="width:100%; height: 100%; margin-bottom: 12px;">
							</span>
						</div>
						<!--DEPRECATE WARNING MESSAGE SECTION-->
						<div ng-if="tool.status=='1'" class="vp-tooltile__deprecatedwarning text--light text--sm mt--md">
							<img alt="" class="vp-tooltile__depreceteicon" src="static/assets/images/icons/active_icn.png">
							<span class="vp-tooltile__deprecetemsg ml--sm">Active</span>
						</div>
						<div ng-if="tool.status=='2'" class="vp-tooltile__deprecatedwarning text--light text--sm mt--md">
							<img alt="" class="vp-tooltile__depreceteicon" src="static/assets/images/icons/inactive_icn.png">
							<span class="vp-tooltile__deprecetemsg ml--sm">in development</span>
						</div>
						<div ng-if="tool.status=='3'" class="vp-tooltile__deprecatedwarning text--light text--sm mt--md">
							<img alt="" class="vp-tooltile__depreceteicon" src="static/assets/images/icons/Deprecated_icn.png">
							<span class="vp-tooltile__deprecetemsg ml--sm">Deprecated</span>
						</div>
					</div>
					<!--TOOL TILE METADATA (title, description, containig tool)-->
					<div class="vp-tooltile__tilemetadata left">
						<div class="vp-tooltile__label text--regular text--ellipsis text--ellipsis--two text--xl mb--md verticall--top" title="{{tool.name}}"><a style="text-decoration : none !important;" href="#/view/proposed/tool/{{tool._id}}">{{tool.name}}</a></div>
						<div class="vp-tooltile__containingtoolmsg text--light text--md mt--md text--ellipsis text--ellipsis--single hidden">{{tool.description}}</div>
					</div>
					<!--TOOL TILE FOOTER SECRION-->
					<div class="vp-tooltile__footer absolute clearfix">
						<!--APPROVE BUTTON VIEW (MODIFIER: vp-uielement__button--deployenabled )-->
						<button ng-click="approveTool(tool)" type="button" class="vp-uielement__button vp-uielement__button--deployenabled vp-tooltile__deploybtn right" ng-if="isallowed['/approve/tool/proposed/:id']">Approve</button>
						<!--EDIT TOOL BUTTON -->
						<button ui-sref="editProposedTool({id:tool._id})" type="button" class="vp-uielement__button vp-uielement__button--edittool vp-tooltile__edittoolbtn mr--md right" ng-if="isallowed['/edit/proposed/tool/:id']">Edit tool</button>
					</div>
				</div>
			</li>
		</ul>
		<!--GRID OPTIONAL FOOTER (MODIFIERS: # vp-tilegrid__gridfooter--active)-->
		<!--<div class="vp-tilegrid__gridfooter pt&#45;&#45;xl pb&#45;&#45;xxl max&#45;&#45;width text&#45;&#45;center hidden vp-tilegrid__gridfooter&#45;&#45;active" ng-if="isPageAvailable()">-->
			<!--<button type="button" class="vp-tilegrid__gridfootershowbtn vp-uielement__button vp-uielement__button&#45;&#45;showmoretools" ng-click="showMoreTools()">Show more tools</button>-->
		<!--</div>-->
	</div>
</div>
<!--TILE GRID COMPONENT END-->