<!--EDIT TOOLS PARTIALS ASSEMBLY START (MODIFIERS: # vp-edittools--scroled)-->
<div class="vp-edittools max" ng-controller="EditToolSetPartialController">
    <form class="max" name="EditToolSetForm">
        <!--SIDE NAVBAR SECTION-->
        <div class="vp-edittools__navaside fixed pos--top pos--bottom" ng-include="'static/components/dashboard/navaside/navaside.component.html'"></div>
        <!-- HEADER MESSAGE SECTION-->
        <div class="vp-toolspage__headnotification" id="header_message" ng-include="'static/components/dashboard/header-message/headermessage.component.html'"></div>
        <!--HEADER SECTION-->
        <div class="vp-edittools__header  pos--top pos--right pos--left" ng-include="'static/components/tools/deploy-tools/header/header.component.html'"></div>
        <div class="content_height">
            <div class="vp-edittools__content bg--white max--height tool_scroll relative" ng-if="toolSetData.data">
                <div class="vp-edittools__contentbounded" style="width:100%">
                    <!--TOO INFORMATION SECTION-->
                    <div class="vp-edittools__toolinfo" ng-include="'static/components/tools/edit-tool-set/tool-set-info/toolsetinfo.component.html'"></div>
                </div>
            </div>
            <!--BOTTOM TOOLBAR SECTION-->
            <div class="vp-edittools__toolbar fixed pos--right pos--bottom pos--left" ng-include="'static/components/tools/edit-tool-set/toolbar/toolbar.component.html'"></div>
        </div>
    </form>
</div>
<!--EDIT TOOLS PARTIALS ASSEMBLY END-->