<!--MACHINES SEARCH COLUMN COMPONENT START-->
<div class="vp-machinessearch vp-search bg--white max--width">
    <div ng-if="showConfirmationPopUp === true">
        <div class="vp-edittools__atttentionmodalwrap fixed max--position hidden" id="show_confirmation_popup" style="display:block">
            <attentional-model class="vp-edittools__atttentionmodal absolute" message="attentionMessage" at-name-value-map="atNameValueMap" on-at-load="atDefLoaded(atDef)"></attentional-model>
        </div>
    </div>
    <span class="vp-search__topborder block"></span>
    <div class="vp-search__searchboxwrap pt--md pr--md pl--md">
        <!--SEARCH FIELD (MODIFIERS: # vp-search__searchbox--drop)-->
        <div class="vp-search__searchbox vp-uielement__searchbox relative">
            <div class="vp-search__searchautocomplete bg--cs06 absolute hidden" ng-include="'static/components/tools/deploy-tools/search-autocomplete/searchautocomplete.component.html'"></div>
            <form id="vp-search__searchform vp-uielement__searchform">
                <!--SEARCH INPUT TEXT-->
                <input class="vp-search__searchinput vp-uielement__searchinput" name="searchSetting" ng-model="searchSetting" type="text" placeholder="Find a setting" />
                <!--SEARCH INPUT SUBMIT BUTON-->
                <!--<button class="vp-search__searchbtn vp-uielementt__searchbtn" type="button"></button>-->
            </form>
            <!--SEARCH HINT-->
            <span class="vp-search__hint vp-uielement__hint"></span>
        </div>
    </div>
    <div class="vp-search__listwrapper max--width">
        <ul class="vp-search__list max--width">

            <!--ITEM EXAMPLE (MODIFIERS: # vp-search__item--test # vp-search__item--prod # vp-search__item--selected )-->
            <li class="vp-search__item" ng-repeat="category in configData.data | filter:searchSetting" ng-class="getSettingsClass(category)">
                <div class="vp-search__iteminner vp-search__item--test pl--xxxl text--regular text--md relative clearfix">
                    <div class="vp-search__itemdescriptionwrap pt--sm pb--sm word--break left">
                        <span class="vp-search__itemdescription text--cs03">{{category.name}}</span>
                    </div>
                    <div class="vp-search__statusiconwrap inblock absolute pos--right" ng-if="machine.status==='0'">
                        <!--STATUS ICON (MODIFIERS: # vp-uielement__versionstate--inactive # vp-uielement__versionstate--active)-->
                        <span class="vp-search__statusicon vp-uielement__versionstate--inactive inblock mt--lg mr--md"></span>
                    </div>
                    <div class="vp-search__statusiconwrap inblock absolute pos--right" ng-if="machine.status==='1'">
                        <!--STATUS ICON (MODIFIERS: # vp-uielement__versionstate--inactive # vp-uielement__versionstate--active)-->
                        <span class="vp-search__statusicon vp-uielement__versionstate--active inblock mt--lg mr--md"></span>
                    </div>
                    <div class="vp-search__itembtnwrap pointer relative right relative hidden">
                        <span class="vp-search__itembtn bg--cs07 text--center text--cs06 text--regular text--md absolute" ng-click="getConfigDetails(category._id.$oid)">Select</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!---MACHINES SEARCH COLUMN COMPONENT END-->

<!--USER-SEARCH COLUMN COMPONENT END-->