<!--SELECTED TOOLS POPUP COMPONENT START-->
<div class="vp-selectedtoolspopup vp-control">
	<!--TRIANGLE ARROW-->
	<div class="vp-selectedtoolspopup__topborder vp-uielement__popuptop"></div>
	<!--SELECTED TOOLS LIST CONTAINER-->
	<div class="vp-selectedtoolspopup__container vp-uielement__popup bg--cs06">
		<ul>
			<!--SELECTED ITEN EXAMPLE -->
			<li class="vp-selectedtoolspopup__toolitem" ng-repeat="dus in selectedDusList track by $index">
				<span class="vp-selectedtoolspopup__toolname pl--lg text--regular text--md text--cs03 inblock">{{dus}}</span>
				<!--REMOVE BUTTON-->
				<div class="vp-selectedtoolspopup__removebtnwrapper right">
					<button type="button" class="vp-selectedtoolspopup__removebtn vp-uielement__button vp-uielement__button--smallclose mr--lg vertical--middle" ng-click="removeDu(dus)"></button>
				</div>
			</li>
			<!--&lt;!&ndash;SELECTED ITEN EXAMPLE &ndash;&gt;-->
			<!--<li class="vp-selectedtoolspopup__toolitem">-->
				<!--<span class="vp-selectedtoolspopup__toolname pl&#45;&#45;lg text&#45;&#45;regular text&#45;&#45;md text&#45;&#45;cs03 inblock">SpyStudio</span>-->
				<!--&lt;!&ndash;REMOVE BUTTON&ndash;&gt;-->
				<!--<div class="vp-selectedtoolspopup__removebtnwrapper right">-->
					<!--<button type="button" class="vp-selectedtoolspopup__removebtn vp-uielement__button vp-uielement__button&#45;&#45;smallclose mr&#45;&#45;lg vertical&#45;&#45;middle"></button>-->
				<!--</div>-->
			<!--</li>-->
			<!--&lt;!&ndash;SELECTED ITEN EXAMPLE &ndash;&gt;-->
			<!--<li class="vp-selectedtoolspopup__toolitem">-->
				<!--<span class="vp-selectedtoolspopup__toolname pl&#45;&#45;lg text&#45;&#45;regular text&#45;&#45;md text&#45;&#45;cs03 inblock">Demo Debugee app for jTrace tool</span>-->
				<!--&lt;!&ndash;REMOVE BUTTON&ndash;&gt;-->
				<!--<div class="vp-selectedtoolspopup__removebtnwrapper right">-->
					<!--<button type="button" class="vp-selectedtoolspopup__removebtn vp-uielement__button vp-uielement__button&#45;&#45;smallclose mr&#45;&#45;lg vertical&#45;&#45;middle"></button>-->
				<!--</div>-->
			<!--</li>-->
		</ul>
	</div>
</div>
<!--SELECTED TOOLS POPUP COMPONENT END-->