<!--MACHINES, TOOLBAR COMPONENT START-->
<div class="vp-machinetoolbar vp-control bg--cs06 max--width">
    <div class="vp-machinetoolbar__innerbounded clearfix">
        <!--CREATE BUTTON-->
        <div class="vp-machinetoolbar__createbtnwrap right">
            <!--CREATE MACHINE BUTTON (MODIFIERS: # vp-uielement__button--deploydisabled )-->
            <button type="button" class="vp-machinetoolbar__createbtn vp-uielement__button vp-uielement__button--deployenabled pr--lg pl--lg" ng-click="addMachine(addMachineForm)">Create machine</button>
        </div>
        <!--DISCARD CHANCHES BUTTON-->
        <div class="vp-machinetoolbar__discardbtnwrap mr--xxxl right">
            <button type="button" class="vp-machinetoolbar__discardbtn vp-uielement__button vp-uielement__button--cleanenabled" ng-click="discardChanges()">Discard</button>
        </div>
    </div>
</div>
<!--MACHINES,TOOLBAR COMPONENT END-->