<!--TAB COMPONENT START-->
<div class="vp-tabsvertical vp-control max--width max--height clearfix" ng-controller="CreateToolVerticalTabController">
	<!--TABS HEADER NAVIGATION BAR-->
	<div class="vp-tabsvertical__nav max--width left">
		<nav>
			<ul class="vp-tabsvertical__navlist text--center table">
				<!--'ADD A VERSION' TAB-->
				<!--<li class="vp-tabsvertical__tabaddbtn pointer left bg&#45;&#45;cs06" ng-if="application.data.all_versions.length===0">-->
					<!--<div class="vp-tabsvertical__tabinner max&#45;&#45;width max&#45;&#45;height">-->
						<!--&lt;!&ndash;'ADD A VERSION' BUTTON&ndash;&gt;-->
						<!--<button type="button" class="vp-tabsvertical__add vp-uielement__button  vp-uielement__button&#45;&#45;cleanenabled max&#45;&#45;width max&#45;&#45;height" ng-click="addNewVersion()">+ add a version</button>-->
					<!--</div>-->
				<!--</li>-->
				<!--TAB ACTIVE VERSION STATE ( MODIFIERS: # vp-tabsvertical__tab--active # vp-tabsvertical__tab--empty # vp-tabsvertical__tab--nolabel)-->
				<li class="vp-tabsvertical__tab pointer left" ng-repeat="version in versionData | orderBy: '-version_number'" id="vp_vertical_tab_{{$index}}" ng-click="showVersionDetailsTab($index)" ng-class="getActiveTab($index)">
					<div class="vp-tabsvertical__tabinner max--height max--width intable">
						<div class="vp-tabsvertical__labelwrap text--right pl--sm lh--font inblock table--cell vertical--middle">
							<labe class="vp-tabsvertical__tabversion text--cs03 text--light text--md text--ellipsis text--ellipsis--single block">Ver {{version.version_number}}</labe>
							<labe class="vp-tabsvertical__tabversionlabel text--cs08 text---light text--sm text--ellipsis text--ellipsis--single block">{{version.version_name}}</labe>
						</div>
						<div class="vp-tabsvertical__tabstatuswrap right table--cell max--height">
							<!--VERSION STATUS STATE ICON (MODIFIERS: # vp-uielement__versionstate--inactive # vp-uielement__versionstate--active)-->
							<span class="vp-tabsvertical__tabstatus vp-uielement__versionstate vp-uielement__versionstate--active inblock"></span>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<!--TAB BODY WRAPPER, LOAD TEMPLATE INSIDE-->
	<div class="vp-tabsvertical__body bg--white left pa--xxxl max--height inherit" style="width:60%">
		<!--TOOL VERSION ACTION BUTTON (MODIFIERS: # vp-tabsvertical__versionactionbtnwrap--remove # vp-tabsvertical__versionactionbtnwrap--deploy)-->
		<!--<div class="vp-tabsvertical__versionactionbtnwrap vp-tabsvertical__versionactionbtnwrap&#45;&#45;remove absolute mr&#45;&#45;xxl">-->
			<!--<button type="button" class="vp-tabsvertical__versionactionbtn vp-uielement__button" ng-click="removeVersion()" ng-if="application.data.all_versions.length===1"></button>-->
		<!--</div>-->
			<div class="vp-tabsvertical__versionsform" ng-include="'static/components/tools/create-tools/version-form/versionsform.component.html'"></div>
	</div>
</div>
<!--TAB COMPONENT END-->