<span class="span_data">Dear {{ data.name }},</span>
<br>
<span class="span_data">A distribution request was processed</span>
<br>
<span class="span_data"><b>The results are as below:</b></span>
<br>
<span class="span_data">Total Tools : {{ data.total_no_of_records }}</span>
<br>
<span class="span_data">New Tools : {{ data.total_no_of_records_new }}</span>
<br>
<span class="span_data">Update for Tools : {{ data.total_no_of_records_updated }}</span>
<br>
<span class="span_data">Failed to compare Tools : {{ data.total_no_of_records_failed }}</span>
<br>
<span class="span_data">No action Required : {{ data.total_no_of_records_success }}</span>



 