<span class="span_data">Dear {{ data.name }},</span>
<br>
<span class="span_data">Your Distribution request was completed.<br>
<span class="span_data">The below given is status :</span>
    <br>
<span class="span_data">{{ data.list }}</span>
    <br>
<span class="span_data">The below given is Names of Exported Tools :</span>
    <br>
<span class="span_data">{{ data.exported }}</span>
    <br>
<span class="span_data">The below given is Names of Not Exported Tools :</span>
    <br>
<span class="span_data">{{ data.notexported }}</span>
