<span class="span_data">Dear {{ data.name }},</span>
<br>
<span class="span_data">A sync request was processed</span>
<br>
<span class="span_data"><b>The results are as below:</b></span>
<br>
<span class="span_data">Total Tools : {{ data.total_no_of_records }}</span>
<br>
<span class="span_data">Success Tools : {{ data.total_no_of_records_success }}</span>
<br>
<span class="span_data">Failed Tools : {{ data.total_no_of_records_failed }}</span>
<br>
<span class="span_data"><b>The Failed are as below:</b></span>
<br>
<span class="span_data">{{ data.failed_issues }}</span>
