<span class="span_data">Dear Contributer,</span>
<br>
<span class="span_data">Congratulations! Your tool proposal with Name: {{data.name}} was approved</span>
<br>
<span class="span_data">A new user was created for you on machine: {{data.machine_host}} with credentials: {{data.username}}/unix11</span>
<br>
<span class="span_data">You can clone the project using command: 'git clone {{data.username}}@{{data.machine_host}}:/home/valuepack/git/{{data.git_dir}} -b master' with above given  credentials</span>
<br>
<br>
<span class="span_data"><b>LINKS:</b></span>
<br>
<span class="span_data">To view tool:  <a href="https://{{data.machine_host}}:8000/">Click here</a></span>
<br>
<span class="span_data">To view Jenkins: <a href="http://{{data.machine_host}}:8080/">Click here</a></span>
<br>
<span class="span_data">To view Nexus: <a href="http://{{data.machine_host}}:8081/nexus/">Click here</a></span>
<br>
<br>
<span class="span_data"><b>TUTORIALS:</b></span>
<br>
<span class="span_data">Please <a href="http://docloader/Docloader/docloader.aspx?action=view&docnum=3169983">Click here</a> to know how to use Git to push your changes</span>
