.vp-settingscont {
    padding-top: @permissionsSelectFormPT;
    padding-bottom: @toolbarHeight;
    padding-left: @permissionsSelectFormPL;
    .vp-settingscont__settingssearch {
        width: @machinesSearchWidth;
    }
    // TOOLBAR STYLES
    .vp-settingscont__toolbar:extend(.vp-ettoolbar) {
        .vp-settingscont__innerbounded:extend(.vp-ettoolbar .vp-ettoolbar__innerbounded) {}
    }
}