<!--TOOL INFO COMPONENT START (MODIFIERS: # vp-toolinfo--edit vp-toolinfo--new)-->
<div class="vp-toolinfo vp-toolinfo--new vp-control bg--white max--width" ng-controller="CreateToolInfoController">
    <!--TOOL INFORMATION HEADER-->
    <header class="vp-toolinfo__header">
        <!--TOOL ICON-->
        <div class="vp-toolinfo__iconwrap pa--md inblock">
            <div class="vp-toolinfo__icon text--white vertical--top text--center text--xxl text--light bg--cs01">
                <span class="vp-toolinfo__iconinner">
                    <img alt="" id="logoFile" style="width:100%;">
                </span>
            </div>
        </div>
        <!--TOOL DISPLAY NAME-->
        <div class="vp-toolinfo__toolname inblock">
            <label class="vp-toolinfo__descriptionlabel text--cs03 text--light text--md inblock" for="DESC">Tool Name:<span class="mandatory">*</span></label>
            <input type="text" class="vp-toolinfo__toolnameinput input--clear text--cs03 text--light text--xxl pl--md " ng-model="toolData.name" name="tool_name" required>
        </div>
        <h5 class="validation_msg" ng-if="toolValidationResponse.message">{{toolValidationResponse.message}}</h5>
        <!--'EDIT LOGO' BUTTON WRAPPER (MODIFIERS: # vp-toolinfo__editlogobtnwrap--show )-->
        <div class="vp-toolinfo__editlogobtnwrap relative">
            <button type="button" class="vp-toolinfo__editlogobtn vp-uielement__button vp-uielement__button--cleanenabled" ng-click="showEditLogo()">Add logo</button>
            <div class="vp-toolinfo__editlogopopup absolute hidden mt--xl" id="edit_logo" ng-include="'static/components/tools/create-tools/popups/editlogo-popup.component.html'"></div>
        </div>
    </header>
    <!--BODY SECTION-->
    <div class="vp-toolinfo__body max--width">
        <!--DESCRIPTION FIELD-->
        <div class="vp-toolinfo__descriptionwrap mt--xxl">
            <label class="vp-toolinfo__descriptionlabel text--cs03 text--light text--md inblock" for="DESC">Description:</label>
            <!--DESCRIPTION INPUT-->
            <textarea ng-model="toolData.description" name="tool_description" id="DESC" length="500" class="vp-toolinfo__descriptioninput text--cs03 text--regular text--lg pl--md ml--xxl" required></textarea>
        </div>
        <div class="vp-toolinfo__tagswrap mt--md">
            <label class="vp-toolinfo__tagslabel text--cs03 text--light text--md vertical--top inblock" for="TAGS">Tags:</label>
            <!--TAGS SECTION-->
            <div class="vp-toolinfo__tagsinputwrap ml--xxl inblock">
                <div class="vp-versionform__content inblock">
                    <!--PRE-REQUISITES FIELD CONTENT (MODIFIERS: # vp-versionform__prerequisitescontent--filled )-->
                    <div class="vp-versionform__prerequisitescontent--filled">
                        <ul class="vp-versionform__prerequisiteslist clearfix">
                            <!--ITEM EXAMPLE-->
                            <li class="vp-versionform__prerequisitesitem mb--sm right" ng-repeat="tag in toolData.tag" style="margin-right:10px;">
                                <div class="vp-versionform__prerequisitesiteminner">
                                    <div class="vp-createnewmachform__useriteminner text--regular text--lg text--cs03 nowrap">
                                        <div class="vp-createnewmachform__userinfowrap inblock">
                                            <span class="vp-createnewmachform__userinfo text--ellipsis text--ellipsis--single">{{tag}}</span>
                                        </div>
                                        <div class="vp-createnewmachform__userremovebtnwrap vertical--top inblock">
                                            <button type="button" class="vp-createnewmachform__userremovebtn vp-uielement__button vp-uielement__button--smallclose vertical--middle pa--none ml--sm" ng-click="removeTag(tag)"></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="vp-versionform__prerequisitesaddbtn mb--sm left">
                                <!--ADD BUTTON-->
                                <button type="button" class="vp-versionform__addprerequisitesbtn vp-uielement__button pa--none vp-uielement__button--cleanenabled mr--xl skip_slideup" ng-click="showAddTag()">+Add</button>
                                <!--ADD PREREQUISITE POPUP-->
                                <div id="add_tag" class="vp-versionform__addcertifieditembtnpopup  tag_popup absolute hidden" ng-include="'static/components/tools/create-tools/popups/tag-addpopup.component.html'"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--SUPPORT SECTION-->
            <div class="vp-toolinfo__supportwrap mt--sm">
                <label class="vp-toolinfo__supportlabel text--cs03 text--light text--md inblock" for="SUPPORT_DETAILS">Support Email:<span class="mandatory">*</span></label>
                <!--DESCRIPTION INPUT-->
                <input type="email" id="SUPPORT_DETAILS" class="vp-toolinfo__supportinput input--clear text--cs03 text--regular text--lg pl--md ml--xxl" name="support_details" ng-model="toolData.support_details" required>
            </div>
        </div>
        <div class="vp-toolinfo__tagswrap mt--md" ng-if="false">
            <label class="vp-toolinfo__tagslabel text--cs03 text--light text--md vertical--top inblock">Is Cloneable:</label>
            <div class="vp-versionform__content inblock">
                <div class="vp-versionform__statusselectwrap">
                    <select name="vp-versionform__dropdownlist2" id="tool_cloneable_status"  ng-model="toolData.is_tool_cloneable" name="is_tool_cloneable" class="vp-versionform__dropdownlist vp-versionform__dropdownlist2 vp-uielement__select max--width"  style="height:30px; margin-left:30px;">
                        <option ng-repeat="status in indicators" value="{{status}}">{{status}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="vp-toolinfo__tagswrap mt--md" ng-if="false">
            <label class="vp-toolinfo__tagslabel text--cs03 text--light text--md vertical--top inblock">Clone Artifacts only:</label>
            <div class="vp-versionform__content inblock">
                <div class="vp-versionform__statusselectwrap">
                    <select name="vp-versionform__dropdownlist2" id="artifact_cloneable_status"  ng-model="toolData.artifacts_only" name="artifact_cloneable_status" class="vp-versionform__dropdownlist vp-versionform__dropdownlist2 vp-uielement__select max--width"  style="height:30px; margin-left:30px;">
                        <option ng-repeat="status in indicators" value="{{status}}">{{status}}</option>
                    </select>
                </div>
            </div>
        </div>
            <!--<div class="vp-toolinfo__tagswrap mt&#45;&#45;md">-->
                 <!--<label class="vp-toolinfo__tagslabel text&#45;&#45;cs03 text&#45;&#45;light text&#45;&#45;md vertical&#45;&#45;top inblock" for="STATUS">Allow To Download Build:</label>-->
                 <!--<div class="vp-versionform__content inblock">-->
                    <!--<div class="vp-versionform__statusselectwrap">-->
                        <!--<select name="vp-versionform__dropdownlist2" id="download_ind"  ng-model="application.data.allow_build_download" name="download_ind" class="vp-versionform__dropdownlist vp-versionform__dropdownlist2 vp-uielement__select max&#45;&#45;width"  style="height:30px; margin-left:30px;">-->
                             <!--<option ng-repeat="indicator in download_indicators" value="{{indicator}}">{{indicator}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
    </div>
</div>
<!--TOOL INFO COMPONENT END-->