<!--TILE GRID COMPONENT START-->
<!--(MODIFIERS: vp-tilegrid--large # vp-tilegrid--small)-->
<div class="vp-tilegrid vp-component overflow-y--auto max--height clearfix">
	<div class="vp-tilegrid__listwrapper clearfix">
		<ul>
			<li class="vp-tilegrid__tile pa--sm left" ng-repeat="tool in applications.fast_track | filter:searchToolKeyword">
				<!--DEPLOY TOOL "TILE" ELEMENT START-->
				<!--( MODIFIERS: vp-tooltile__containingtoolmsg--active # vp-tooltile__deprecatedwarning--active # vp-tooltile--selected # vp-tooltile__favorite--active )-->
				<div class="vp-tooltile vp-component text--cs03 pt--md pr--md pl--md vp-tooltile__containingtoolmsg--active vp-tooltile__deprecatedwarning--active vp-tooltile__favorite--active  relative">
					<div class="vp-tooltile__iconswrapprer left">
						<!--TILE ICON-->
						<div class="vp-tooltile__icon text--light text--xxxxl text--white vertical--top text--center bg--cs01">
							<span class="vp-tooltile_iconinner">
								<img alt="" class="vp-tooltile_iconinner" src="{{tool.thumbnail_logo}}" style="width:100%; height: 100%; margin-bottom: 12px;
							</span>
						</div>
						<!--DEPRECATE WARNING MESSAGE SECTION-->
						<div ng-if="tool.status=='3'" class="vp-tooltile__deprecatedwarning text--light text--sm mt--md hidden">
							<img alt="" class="vp-tooltile__depreceteicon" src="static/assets/images/icons/Deprecated_icn.png">
							<span class="vp-tooltile__deprecetemsg ml--sm">Deprecated</span>
						</div>
					</div>
					<!--TOOL TILE METADATA (title, description, containig tool)-->
					<div class="vp-tooltile__tilemetadata left">
						<div class="vp-tooltile__label text--regular text--ellipsis text--ellipsis--two text--xl mb--md verticall--top" title="{{tool.name}}"><a style="text-decoration : none !important;" href="#/tool/updated/{{tool._id.$oid}}">{{tool.name}}</a></div>
						<div class="vp-tooltile__containingtoolmsg text--light text--md mt--md text--ellipsis text--ellipsis--single hidden">{{tool.description}}</div>
						<!--<div class="vp-tooltile__description text&#45;&#45;light text&#45;&#45;md" title="Environment configuration check Environment configuration check Environment configuration check bbbeeeeee">Environment configuration check Environment configuration check Environment configuration check bbbeeeeee</div>-->
						<div class="vp-tooltile__containingtoolmsg text--light text--md mt--md text--ellipsis text--ellipsis--single hidden">Included in tool set:
							<span class="vp-tooltile__containingtoolname" title="INIT">INIT</span>
						</div>
					</div>
					<!--'FAVORITE' ICON VIEW-->
					<div class="vp-tooltile__favoriticon pointer right"></div>
					<!--TOOL TILE FOOTER SECRION-->
					<div class="vp-tooltile__footer absolute clearfix">
						<!--SELECT CHECKBOX SECTION-->
						<div class="vp-tooltile__checkbox vp-uielement__checkbox mt--md vertical--bottom">
							<input type="checkbox" name="selectedTools" ng-model="selectedTools" id ="{{tool.name}}" value="{{tool._id.$oid}}" ng-change="selectTool(tool)"/>
							<!--FIRST LABEL FOR CUSTOM CHECKBOX-->
							<label for="{{tool.name}}"></label>
							<label class="vp-tooltile__checkboxlabel text--cs08 text--light text--md" for="{{tool.name}}">Select</label>
						</div>
						<!--DEPLOY BUTTON VIEW (MODIFIER: vp-uielement__button--deployenabled )-->
						<button ui-sref="updateTool({id:application._id.$oid})" type="button" class="vp-uielement__button vp-uielement__button--deployenabled vp-tooltile__deploybtn right">Update</button>
						<!--EDIT TOOL BUTTON -->
						<!--<button ui-sref="editTool({id:tool._id.$oid})" type="button" class="vp-uielement__button vp-uielement__button&#45;&#45;edittool vp-tooltile__edittoolbtn mr&#45;&#45;md right">Edit tool</button>-->
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!--GRID OPTIONAL FOOTER (MODIFIERS: # vp-tilegrid__gridfooter--active)-->
	<div class="vp-tilegrid__gridfooter pt--xl pb--xxl max--width text--center hidden vp-tilegrid__gridfooter--active">
		<button type="button" class="vp-tilegrid__gridfootershowbtn vp-uielement__button vp-uielement__button--showmoretools">Show more tools</button>
	</div>
</div>
<!--TILE GRID COMPONENT END-->