<!--TOOL INFO COMPONENT START-->
<div class="vp-sttoolinfo vp-control bg--white max--width relative" ng-controller="ShowProposedToolInfoController">
    <!--<div class="vp-sttoolinfo__editbtnwrap">-->
        <!--<button id="edit_tool_btn_{{toolData.tool_id}}" type="button" class="vp-uielement__button vp-uielement__button&#45;&#45;edittool absolute pos&#45;&#45;right pos&#45;&#45;top mr&#45;&#45;xxl mt&#45;&#45;md" ui-sref="editProposedTool({id:toolData.tool_id})">edit tool</button>-->
    <!--</div>-->

    <!--CONTENT SECTION-->
    <div class="vp-sttoolinfo__innercontent max--width">
        <form action="#" name="vp-sttoolinfo__form" class="vp-sttoolinfo__form text--regular text--lg">
            <!--DESCRIPTION FIELD-->
            <div class="vp-sttoolinfo__descriptionwrap mt--md">
                <label class="vp-sttoolinfo__label vp-sttoolinfo__descriptionlabel text--cs03 text--light text--md vertical--top inblock" style="width: 130px;">Description:</label>
                <div class="vp-sttoolinfo__content vp-sttoolinfo__descriptioncontent ml--xxl inblock">
                    <p id="release_notes_tool" class="vp-sttoolinfo__descriptioncontentinner text--ellipsis text--ellipsis--two" style="width:700px; height: auto">
                        {{toolData.description}}
                    </p>
                </div>
                <div style="margin-left: 104px;">
                    <button id="show_less_desc_{{toolData.tool_id}}" ng-if="toolData.description.length>120 && showLessToolReleaseNotes === true" type="button" class="vp-versionform__notesshowallbtn vp-uielement__button vp-uielement__button--cleanenabled mt--sm pa--none" ng-click="showLessToolReleaseNotesContent()">Show Less</button>
                    <button id="show_more_desc_{{toolData.tool_id}}" ng-if="toolData.description.length>120 && showAllToolReleaseNotes === true" type="button" class="vp-versionform__notesshowallbtn vp-uielement__button vp-uielement__button--cleanenabled mt--sm pa--none" ng-click="showMoreToolReleaseNotesContent()">Show all</button>
                </div>
            </div>
            <!--DESCRIPTION FIELD-->
            <div class="vp-sttoolinfo__descriptionwrap mt--md">
                <label class="vp-sttoolinfo__label vp-sttoolinfo__descriptionlabel text--cs03 text--light text--md vertical--top inblock" style="width: 130px;">Request reason:</label>
                <div class="vp-sttoolinfo__content vp-sttoolinfo__descriptioncontent ml--xxl inblock">
                    <p id="request_reason_tool" class="vp-sttoolinfo__descriptioncontentinner text--ellipsis text--ellipsis--two" style="width:700px; height: auto">
                        {{toolData.request_reason}}
                    </p>
                </div>
                <div style="margin-left: 104px;">
                    <button id="show_less_reason_{{toolData.tool_id}}" ng-if="toolData.request_reason.length>120 && showLessToolRequestReason === true" type="button" class="vp-versionform__notesshowallbtn vp-uielement__button vp-uielement__button--cleanenabled mt--sm pa--none" ng-click="showLessToolRequestReasonContent()">Show Less</button>
                    <button id="show_more_reason_{{toolData.tool_id}}" ng-if="toolData.request_reason.length>120 && showAllToolRequestReason === true" type="button" class="vp-versionform__notesshowallbtn vp-uielement__button vp-uielement__button--cleanenabled mt--sm pa--none" ng-click="showMoreToolRequestReasonContent()">Show all</button>
                </div>
            </div>
            <div class="vp-sttoolinfo__tagswrap mt--md">
                <!--SUPPORT SECTION-->
                <div class="vp-sttoolinfo__supportwrap mt--sm">
                    <label class="vp-sttoolinfo__label vp-sttoolinfo__supportlabel text--cs03 text--light text--md vertical--top inblock" style="width: 130px;">Your NTNET Email:</label>
                    <div class="vp-sttoolinfo__content vp-sttoolinfo__supportwrapinner inblock">
                        <a id="go_to_mail_{{toolData.tool_id}}" href="mailto:{{toolData.support_details}}" class="text--cs03 text--regular text--lg text--cs07 ml--xxl no--decor text--ellipsis text--ellipsis--single">{{toolData.support_details}}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--TOOL INFO COMPONENT END-->