<!--PRE REQUISITIES EDIT POPUP COMPONENT START-->
<div class="vp-tooldepqeditpopup vp-control">
    <div class="vp-tooldepqeditpopup__popuptop vp-uielement__popuptop"></div>
    <div class="vp-tooldepqeditpopup__container vp-uielement__popup pt--md pr--xl pb--xl pl--xl bg--white skip_slideup" style="height:250px;overflow-x: hidden;overflow-y: auto;">
        <div class="vp-tooldepqeditpopup__inputwrap">
            <input type="text" class="vp-tooldepqeditpopup__input input--clear max--width text--cs03 text--regular text--lg skip_slideup" ng-model="searchDUKeyword">
        </div>
        <div class="vp-tooldepqeditpopup__optionswrap mt--lg" style="height:150px;">
            <!--VERSION OPTIONS LIST-->
            <ul class="vp-tooldepqeditpopup__optionslist text--cs03 text--regular text--md skip_slideup">
                <!--VERSION ITEM EXAMPLE-->
                <li class="vp-tooldepqeditpopup__optionsitem mt--md skip_slideup" ng-repeat="du in duList | filter : searchDUKeyword">
                    <div class="vp-tooldepqeditpopup__iteminner text--ellipsis">
                        <div class="vp-tooldepqeditpopup__checkbox vp-uielement__checkbox">
                            <!--ITEM CHECKBOX-->
                            <input type="checkbox" id="select_check_{{du.name}}" class="skip_slideup" name="vp-deptoolseditpopup__c1" ng-model="selectedDU[$index]" value="{{tool}}" ng-click="addMoreDU(du)" ng-checked="isDUSelected(du)"/>
                            <label for="select_check_{{du.name}}" class="skip_slideup"></label>
                            <!--ITEM NAME WRAPPER-->
                            <div class="vp-tooldepqeditpopup__itemnamewrap ml--sm inblock vertical--bottom">
                                <label for="vp-prereqeditpopup__c1" class="vp-tooldepqeditpopup__itemname text--ellipsis text--ellipsis--single skip_slideup" title="{{du.name}}">{{du.name}}</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--<button type="button" class="vp-uielement__button  vp-uielement__button&#45;&#45;apply mt&#45;&#45;xl skip_slideup" ng-click="showMoreDUToAdd()">Apply</button>-->
    </div>
    <!--<div class="vp-prereqeditpopup__container vp-uielement__popup pt&#45;&#45;sm pr&#45;&#45;md pb&#45;&#45;xl pl&#45;&#45;md bg&#45;&#45;white skip_slideup">
        <div class="vp-prereqeditpopup__optionswrap mt&#45;&#45;lg">
             <div class="vp-certifiedaddpopup__buttonswrap">
                &lt;!&ndash;APPLY BUTTON&ndash;&gt;
                <button type="button" class="vp-certifiedaddpopup__applybtn vp-uielement__button vp-uielement__button&#45;&#45;apply" ng-click="showMoreDUToAdd()">Apply</button>
            </div>
        </div>
    </div>-->
    <!--<button style="margin-bottom: 34px;margin-left: 20px;; z-index: 99" type="button" class="vp-uielement__button  vp-uielement__button&#45;&#45;apply mt&#45;&#45;xl" ng-click="closeAddMoreTools()">Apply</button>-->
</div>
<!--PRE REQUISITIES EDIT POPUP COMPONENT END-->