.vp-distributioncont {
    padding-top: @permissionsSelectFormPT;
    padding-bottom: @toolbarHeight;
    padding-left: @permissionsSelectFormPL;
    .vp-distributioncont__distributionsearch {
        width: @machinesSearchWidth;
    }
    // TOOLBAR STYLES
    .vp-distributioncont__toolbar:extend(.vp-ettoolbar) {
        .vp-distributioncont__innerbounded:extend(.vp-ettoolbar .vp-ettoolbar__innerbounded) {}
    }
}