<!--MANAGE MACHINES TAB CONTENT COMPONENT START-->
<div class="vp-mmanagetab vp-control text--none max inblock nowrap" id="requestDetailsSection">
    <!--MANAGE MACHINES TAB CONTENT FILTER (MODIFIERS: # vp-mmanagetab__filterwrap--close )-->
    <section class="vp-mmanagetab__filterwrap vp-mmanagetab__filterwrap--close max--height relative inblock">
        <button type="button" class="vp-mmanagetab__filterclosebtn vp-uielement__button vp-uielement__button--dropdownarrowclosed  absolute"></button>
    </section>
    <!--CONTENT (WITHOUT FILTER) SECTION-->
    <section class="vp-mmanagetab__content vertical--top inblock">
        <!--MACHINES SEARCH-->
        <div class="vp-mmanagetab__findmachinewrap vertical--top mt--md ml--md left">
            <div class="vp-mmanagetab__findmachine max--height">
                <!--MACHINES-SEARCH COLUMN COMPONENT START-->
                <div class="vp-machinessearch bg--white max--width"> 
                    <span class="vp-machinessearch__topborder block"></span>
                    <div class="vp-machinessearch__listwrapper machine_scroll max--width">
                        <ul class="vp-machinessearch__list max--width">

                            <!--ITEM EXAMPLE (MODIFIERS: # vp-machinessearch__item--test # vp-machinessearch__item--prod)-->
                            <li class="vp-machinessearch__item vp-machinessearch__item--prod outer" ng-repeat="dep in cloneRequestsAll.data">
                                <div class="vp-machinessearch__iteminner vp-machinessearch__item--test pl--xxxl text--regular text--md clearfix">
                                    <div class="vp-machinessearch__itemdescriptionwrap pt--sm pb--sm word--break left">
                                        <span class="status-ind {{dep.status}}"></span>
                                        <span class="{{dep.status}}"><span style="font-weight: bold">{{dep.account_name}}&nbsp;</span>:&nbsp;{{dep.type}}&nbsp; - {{dep.create_date.$date | date }} </span>
                                     
                                    </div>
                                    <div class="vp-machinessearch__itembtnwrap pointer relative right hidden">
                                        <span class="vp-machinessearch__itembtn bg--cs07 text--center text--cs06 text--regular text--md absolute" ng-click="selectCloneRequest(dep._id.$oid)">Select</span>
                                    </div>
                                    <!--<div class="vp-machinessearch__itembtnwrap pointer relative right hidden" ng-if="pageTitle==='Manage Machines'">
                        <span class="vp-machinessearch__itembtn bg&#45;&#45;cs07 text&#45;&#45;center text&#45;&#45;cs06 text&#45;&#45;regular text&#45;&#45;md absolute" href="/editmachine/{{machine._id.$oid}}">Select</span>
                    </div>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--MACHINES-SEARCH COLUMN COMPONENT END-->
        </div>

        <!--VERTICAL TAB AREA-->
        <div class="vp-mmanagetab__machinesectionwrap mt--xxl ml--md inblock" ng-if="GroupData" style="width:1000px;">
            <div class="vp-mmanagetab__machinesectionheader text--cs03 pl--md">
                <label class="vp-mmanagetab__machinesectionlabel text--light text--xxl">ID:&nbsp;{{GroupData._id.$oid}}
                    <!--<button ng-hide="GroupData.status=='Completed'" type="button" class="vp-machdetails__removemachinebtn vp-uielement__button vp-uielement__button&#45;&#45;removemachine pr&#45;&#45;md pl&#45;&#45;md ml&#45;&#45;md" ng-click="retryGroup(GroupData._id.$oid)">Retry Group</button>-->
                </label>
              <label class="vp-machdetails__fielditem vp-machdetails__ipitem button-wrapper" ng-hide="GroupData.status=='Done'">
            <div class="vp-machdetails__fielditeminner">
                <!--IP FIELD CONTENT-->
                <button type="button" class="vp-machdetails__removemachinebtn vp-uielement__button vp-uielement__button--edittool pr--md pl--md ml--md" ng-click="retry(GroupData._id.$oid)">Retry</button>
            </div>
        </label>
                <!--<button type="button" class="vp-mmanagetab__machineeditbtn vp-uielement__button vp-uielement__button&#45;&#45;edit ml&#45;&#45;md"></button>-->
                <div class="vp-mmanagetab__machinetatewrap mr--md right">
                    <!--MACHINE STATE ICON (MODIFIERS: # vp-uielement__versionstate--inactive # vp-uielement__versionstate--active)-->
                    <span class="status-ind {{GroupData.status}}"></span>
                    <span class="vp-mmanagetab__machinestatemsg vertical--middle ml--md text--cs03 text--light text--md"></span>
                </div>
            </div>
            <div class="vp-mmanagetab__verticaltabs mt--xl max--height" ng-include="'static/components/clonerequests/tabs/verticaltabs/verticaltabs.component.html'"></div>
        </div>
    </section>
</div>
<!--MANAGE MACHINES TAB CONTENT COMPONENT END-->