<div class="vp-addnewmachineform vp-addnewmachineformnewmachine vp-control max" >
    <form name="CreateNewTagForm" class="vp-addnewmachineform__addnewmachineform max">
        <table class="vp-addnewmachineform__fieldslist text--cs03 pr--lg">
            <tr>
                <td class="vp-addnewmachineform__fielditem vp-addnewmachineform__roleitem pt--xxl">
                    <div class="vp-addnewmachineform__fielditeminner">
                        <div class="vp-userform__fieldlabelwrap inblock">
                            <label class="vp-userform__fieldlabel text--light text--md text--ellipsis text--ellipsis--single">Tag Name<span class="mandatory">*</span></label>
                        </div>
                        <div class="vp-addnewmachineform__fieldcontent vp-machineform__rolecontent inblock">
                            <div class="vp-createnewmachform__fieldcontent vp-createnewmachform__aliascontent inblock">
                                <input type="text" class="vp-machdetails__tunnelinghost input--clear max--width bl--primary br--primary bt--primary bb--primary" name="tag_name" ng-model="tagData.name" required style="margin-left:20px; width: 240px; height: 23px;" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
