<div class="vp-showtoolheader" ng-controller="ProposeToolHeaderController">
    <!--TOOL ICON-->
    <div class="vp-showtoolheader__iconwrap mt--md ml--xxl inblock">
    </div>
    <div class="vp-showtoolheader__titlewrap inblock">
        <!--TITLE-->
        <h1 class="vp-header__title inblock text--upper vertical--top ml--xl pt--xl mt--sm text--cs06 text--light text--xxl">{{pageTitle}}</h1>
    </div>

    <!--CLOSE BUTTON-->
    <button id="close_tool_view" type="button" class="vp-showtoolheader__closebtn vp-uielement__button vp-uielement__button--bigclose btn--clear mt--md mr--lg right" ng-click="closeThis()"></button>
    <!--ADD TO FAVOROTES BUTTON -->
    <!--<button id="add_tool_to_fav" type="button" class="vp-showtoolheader__favbutton vp-uielement__button vp-uielement__button&#45;&#45;cleanenabled pa&#45;&#45;none mt&#45;&#45;md mr&#45;&#45;xxxl right">Add to favorites</button>-->
</div>