<div class="login-box">
    <div class="login-logo">
        <img alt="" src="static/assets/images/Deployment.png">
    </div>
    <div style="">
        <table style="border-style:black;border-width:1px">
            <tr>
                <td>
                    <div style="" ng-controller="ForgotPasswordController">
                        <form name="forgotPasswordForm" role="form">
                            <div class="row" style="">
                                <div class=""  style="width: 100%;">
                                    <label for="uname">Username:</label>
                                    <input name="uname" type="text" class="login-input" ng-model="username">
                                </div>
                            </div>
                            <div class="row" >
                                <div class="login-footer">
                                    <button class="login-button" style="border-radius: 10px;" ng-click="forgotPassword(forgotPasswordForm)">Submit</button>
                                </div>
                            </div>
                            <br>
                            <div class="row" >
                                <div class="col-s6">
                                    <a style="color: white; left:40%; position: relative;"  href="#/login">Back to login</a>
                                    <!-- <a style="color: white; left:30%; position: relative;" href="#/signup"  >Sign Up</a> -->
                                </div>
                            </div>
                        </form>
                        <div style="margin-top:20px; margin-left:8%; color:red; padding-bottom:3%; font-weight: 400; font-size: 16px;" ng-if="forgotPasswordErrorResponse">{{forgotPasswordErrorResponse}}</div>
                        <div style="margin-top:20px; color:white; padding-bottom:3%; font-weight: 400; font-size: 16px;" ng-if="forgotPasswordSuccessResponse">{{forgotPasswordSuccessResponse}}</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
