<div class="vp-rdmodal vp-control bg--white relative">
    <!-- vp-rdmodal__header -->
	<div class="vp-rdmodal__header">
        <h1 class="vp-rdmodal__title text--cs06 text--xl text--light mt--xl ml--xl inblock">Request Details</h1>
		<button type="button" class="vp-rdmodal__closebtn btn--clear mt--md mr--lg right" ng-click="closeRunningRequestDetails()"></button>
	</div>
	<!--MODAL BODY-->
	<div class="vp-rdmodal__body" style="overflow: overlay;">
         <section class="vp-exportfileload__processingsection request_detail_load_position">
            <div class="loader mb--sm"></div>
            <span class="vp-exportfileload__processingmsg text--cs03 text--light text--xxl">Your request is in progress...</span>
         </section>
    </div>
</div>
