<!--MACHINES PARTIALS ASSEMBLY START-->
<div class="vp-machines max" ng-controller="MachineController">
    <!--SIDE NAVBAR-->
    <div class="vp-machines__navaside fixed pos--top pos--bottom" ng-include="'static/components/dashboard/navaside/navaside.component.html'"></div>
    <div class="vp-toolspage__headnotificationwrap" id="header_message">
		<div class="vp-toolspage__headnotification" ng-include="'static/components/dashboard/header-message/headermessage.component.html'"></div>
	</div>
    <div class="vp-machines__component bg--white max--height relative">
        <div class="vp-machine__contentbounded max--height">
            <!--MACHINES HEADER COMPONENT-->
            <div class="vp-machines__header" ng-include="'static/components/machines/header/header.component.html'"></div>
            <!--MACHINES TABS COMPONENT-->
            <div class="vp-machines__tabs left max--width" ng-include="'static/components/machines/tabs/tabs.component.html'"></div>
        </div>
    </div>
</div>
<!--MACHINES PARTIALS ASSEMBLY END-->