<!--'ADD A SETTING' MODAL COMPONENT START-->
<div class="vp-addsettingmodal vp-control bg--white relative" style="width: 100%; height: 100%; right: 15%;">
	<div class="vp-addsettingmodal__header">
		<!--TITLE-->
		<h1 class="vp-addsettingmodal__title text--cs06 text--xl text--light mt--xl ml--xl inblock">Checksum details</h1>
		<!--CLOSE BUTTON-->
		<button type="button" class="vp-addsettingmodal__closebtn btn--clear mt--md mr--lg right" ng-click="closeChecksumPopup()"></button>
	</div>

	<div class="vp-permissionsselect bg--white max pl--xl pt--xl">
        <!--COLUMN LABELS SECTION-->
        <section class="vp-permissionsselect__header text--capitalize text--cs03 text--light text--md max--width">
            <label class="vp-deployedtool_history_table_col inblock"><span class="permissionweight">File</span></label>
            <label class="vp-deployedtool_history_table_col inblock"><span class="permissionweight">Checksum</span></label>
            <hr class="vp-permissionsselect__separator mt--md bg--cs09 ba--clear">
        </section>
        <!--PERMISSIONS SELECT SECTION-->
        <section class="vp-permissionsselect__body max--width pb--lg">
            <form action="#" name="vp-permissionsselect__form">
                <ul class="vp-permissionsselect__list pt--xl">
                    <!--DEPLOY TOOLS PERMISSIONS-->
                    <li class="vp-permissionsselect__item vp-permissionsselect__itemdeploytools pt--xxxl max--width" ng-repeat="checksum in checkSumForPopup">
                        <div class="vp-permissionsselect__iteminner">
                            <div class="vp-deployedtool_history_col vertical--bottom text--regular text--md inblock">
                                <span class="text--ellipsis text--ellipsis--single">{{checksum.file}} </span>
                            </div>
                            <div class="vp-deployedtool_history_col vertical--bottom text--regular text--md inblock">
                                <span class="text--ellipsis text--ellipsis--single">{{checksum.chksum}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </section>
    </div>
	</div>
	<!--'ADD A SETTING' MODAL COMPONENT END-->