// VARIABLES: SECTION 26
div.vp-machinessection {
    padding-bottom: @toolsContentPB;
    div.vp-machinessection__labelwrap {
        width: @toolsSectionLabelMaxWidth;
    }
    //MACHINES TABS STYLES
    div.vp-machinessection__tabs {
        width: @tabsComponentWidth;
    }
    //RIGHT SIDE SEARCH COLUMN
    .vp-machinessection__machinessearch {
        width: 400px;
        margin-top: @dtTabHeight;
        margin-left: @machinesSearchML;
    }
}