// VARIABLES: SECTION 29
.vp-attentionmodal {
    width: @attentionModalWidth;
    height: @attentionModalHeight;
    border-radius: @modaBorderRadiuse;
    box-shadow: @shadow;
}

//CONTINUE BUTTON STYLES
.vp-attentionmodal__continuebtn {
    width: @continueBtnWidth;
}