<!--TAB COMPONENT START ( MODIFIERS: vp-tabs--default # vp-tabs--transparent #  vp-tabs--sideopen # vp-tabs--vertical )-->
<div class="vp-tabs vp-tabs--default vp-control relative max--width max--height clearfix">
	<!--TABS HEADER NAVIGATION BAR-->
	<div class="vp-tabs__nav max--width left">
		<nav>
			<ul class="vp-tabs__navlist  max--width text--center text--capitalize text--md text--light text--cs06 pl--xl table">
				<!--ACTIVE TAB STATE (LI MODIFIERS: # vp-tabs__tab--active   )-->
				<li class="vp-tabs__tab pointer pr--sm pl--sm left" ng-class="getActiveTab('/tools/all')" ng-click="showActiveTab('/tools/all')" ng-if="isallowed['/tools/all']">
					<a href="#/tools/all">
						<span class="vp-tabs__tablabel vertical--top ml--md">All tools</span>
						<span class="vp-tabs__tabcountnotification bg--cs05 text--sm text--white mt--sm vertical--top"></span>
					</a>
				</li>
				<!--DEAFULT TAB STATE-->
				<li class="vp-tabs__tab vp-tabs__tab pointer pr--sm pl--sm left" ng-class="getActiveTab('/tools/recent')" ng-click="showActiveTab('/tools/recent')" ng-if="isallowed['/tools/recent']">
					<a href="#/tools/recent">
						<div class="vp-tabs__tabicon vp-tabs__tabiconrecentlyviewed mb--md vertical--bottom inblock"></div>
						<!--TAB TITLE-->
						<span class="vp-tabs__tablabel vertical--top ml--md">Recently viewed</span>
					</a>
				</li>
				<li class="vp-tabs__tab pointer pr--lg pl--lg left" ng-class="getActiveTab('/tools/favorite')" ng-click="showActiveTab('/tools/favorite')" ng-if="isallowed['/tools/favorite']">
					<a href="#/tools/favorite">
						<div class="vp-tabs__tabicon vp-tabs__tabiconfavorites mb--md vertical--bottom inblock"></div>
						<span class="vp-tabs__tablabel vertical--top ml--md">Favorites</span>
					</a>
				</li>
				<!--DEAFULT TAB STATE WITH COUNTER NOTIFICATION(LI MODIFIERS: vp-tabs__tab--active # vp-tabs__tabcountnotification--active ) -->
				<li class="vp-tabs__tab vp-tabs__tabcountnotification--active pointer pr--lg pl--lg left" ng-class="getActiveTab('/tools/updates')" ng-click="showActiveTab('/tools/updates')" ng-if="isallowed['/tools/updates']">
					<a href="#/tools/updates">
						<div class="vp-tabs__tabicon vp-tabs__tabicontoolupdates mb--md vertical--bottom inblock"></div>
						<span class="vp-tabs__tablabel vertical--top ml--md">Tool updates</span>
						<!--TAB ITEMS COUNT-->
						<span class="vp-tabs__tabcountnotification bg--cs05 text--sm text--white mt--sm vertical--top hidden" ng-if="updatedToolsCount>0">{{updatedToolsCount}}</span>
						<span class="vp-tabs__tabcountnotification bg--cs05 text--sm text--white mt--sm vertical--top hidden" ng-if="updatedToolsCount===0">0</span>
					</a>
				</li>
				<!--DEAFULT TAB STATE WITH COUNTER NOTIFICATION(LI MODIFIERS: vp-tabs__tab--active # vp-tabs__tabcountnotification--active ) -->
				<li class="vp-tabs__tab pointer pr--lg pl--lg left vp-tabs__tabcountnotification--active" ng-class="getActiveTab('/tools/new')" ng-click="showActiveTab('/tools/new')" ng-if="isallowed['/tools/new']">
					<a href="#/tools/new">
						<div class="vp-tabs__tabicon vp-tabs__tabiconnewtools mb--md vertical--bottom inblock"></div>
						<span class="vp-tabs__tablabel vertical--top ml--md">New tools</span>
						<!--TAB ITEMS COUNT-->
						<span class="vp-tabs__tabcountnotification bg--cs05 text--sm text--white mt--sm vertical--top hidden" ng-if="newToolsCount>0">{{newToolsCount}}</span>
						<span class="vp-tabs__tabcountnotification bg--cs05 text--sm text--white mt--sm vertical--top hidden" ng-if="newToolsCount===0">0</span>
					</a>
				</li>
				<li class="vp-tabs__tab pointer pr--lg pl--lg left vp-tabs__tabcountnotification--active" ng-class="getActiveTab('/toolset/all')" ng-click="showActiveTab('/toolset/all')" ng-if="isallowed['/toolset/all']">
					<a href="#/toolset/all">
						<div class="vp-tabs__tabicon vp-tabs__tabicontoolsets mb--md vertical--bottom inblock"></div>
						<span class="vp-tabs__tablabel vertical--top ml--md">Tool sets</span>
					</a>
				</li>
				<li class="vp-tabs__tab pointer pr--lg pl--lg left vp-tabs__tabcountnotification--active" ng-class="getActiveTab('/proposed/tools/all')" ng-click="showActiveTab('/proposed/tools/all')" ng-if="isallowed['/proposed/tools/all']">
					<a href="#/proposed/tools/all">
						<div class="vp-tabs__tabicon vp-tabs__tabicontoolsets mb--md vertical--bottom inblock"></div>
						<span class="vp-tabs__tablabel vertical--top ml--md">Proposed Tools</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<!--TAB BODY WRAPPER, LOAD TEMPLATE INSIDE-->
	<div class="vp-tabs__body left max--width">
		<!--DEFAULT TABS BODY HEADER (MODIFIERS: # vp-tabs__bodyheader--scrolled)-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/dashboard' && isallowed['/dashboard']" ng-include="'static/components/dashboard/tilegrid/all-tools/all-tools.component.html'"></div>
		<!--DEFAULT TABS BODY HEADER (MODIFIERS: # vp-tabs__bodyheader--scrolled)-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/tools/all' && isallowed['/tools/all']" ng-include="'static/components/dashboard/tilegrid/all-tools/all-tools.component.html'"></div>
		<!--INCLUDE TILE GRID TO THE TABS BODY FOR RECENTLY VIEWED TOOLS-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/tools/recent'" ng-include="'static/components/dashboard/tilegrid/recently-viewed-tools/recently-viewed-tools.component.html'"></div>
		<!--INCLUDE TILE GRID TO THE TABS BODY FOR FAVOURITE TOOLS-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/tools/favorite'" ng-include="'static/components/dashboard/tilegrid/favourite-tools/favourite-tools.component.html'"></div>
		<!--INCLUDE TILE GRID TO THE TABS BODY FOR UPDATED TOOLD-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/tools/updates' && isallowed['/tools/updates']" ng-include="'static/components/dashboard/tilegrid/tool-updates/tool-updates.component.html'"></div>
		<!--INCLUDE TILE GRID TO THE TABS BODY FOR NEW TOOLS-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/tools/new' && isallowed['/tools/new']" ng-include="'static/components/dashboard/tilegrid/new-tools/new-tools.component.html'"></div>
		<!--INCLUDE TILE GRID TO THE TABS BODY FOR NEW TOOLS-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/toolset/all' && isallowed['/toolset/all']" ng-include="'static/components/dashboard/tilegrid/tool-sets/tool-sets.component.html'"></div>
		<!--INCLUDE TILE GRID TO THE TABS BODY FOR NEW TOOLS-->
		<div class="vp-tabs__tilegrid" ng-if="displayTab==='/proposed/tools/all' && isallowed['/proposed/tools/all']" ng-include="'static/components/dashboard/tilegrid/proposed-tools/proposed-tools.component.html'"></div>
	</div>
</div>
<!--TAB COMPONENT END-->