.vp-screenshotbrowser {
    &__browseleftbtnwrap, &__browserbigscreenshot, &__browserightbtnwrap {
        height: @screenshotBrowserHeight;
        line-height: @screenshotBrowserHeight;
    }
    &__closebtn {
        margin-top: -@smallCloseBtnSize/2;
        margin-right: -@smallCloseBtnSize/2;
    }
    //BIG SCREENSHOT CONTAINER
    &__browserbigscreenshot {
        width: @screenshotBrowserWidth;
        border: 1px solid @cs08;
    }
}