// VARIABLES: SECTION 10 //button
// COPONENT CLASS
// BUTTON VIEW
.vp-uielement__button {
    .btn--clear;
    line-height: normal;
    // BUTTONS HOVER ACTIV STATE
    &:not([class*="disable"]):hover {
        opacity: 0.6;
    }
    &[class*="disable"] {
        cursor: default;
    }
}

// BUTTONS HEIGHT
.vp-uielement__button--deployenabled, &.vp-uielement__button--downloadenabled, &.vp-uielement__button--edittool, &.vp-uielement__button--close, &.vp-uielement__button--deploydisabled, &.vp-uielement__button--apply, &.vp-uielement__button--alltools, &.vp-uielement__button--cancle, &.vp-uielement__button--updateenabled, &.vp-uielement__button--updatedisabled, &.vp-uielement__button--deployselectedtoolsenable, &.vp-uielement__button--deployselectedtoolsdisable, &.vp-uielement__button--showmoretools {
    height: @btnHeight;
    .text--regular;
    .text--md;
}

// SMALL (WIDTH property) BUTTON GLOBAL VIEW
.vp-uielement__button--deployenabled, &.vp-uielement__button--downloadenabled, &.vp-uielement__button--edittool, &.vp-uielement__button--close, &.vp-uielement__button--deploydisabled, &.vp-uielement__button--apply, &.vp-uielement__button--alltools, &.vp-uielement__button--cancle {
    min-width: @smallBtnWidth;
    border-radius: @btnHeight;
}

// LARGE (WIDTH property) BUTTON GLOBAL VIEW
.vp-uielement__button--updateenabled, &.vp-uielement__button--updatedisabled, &.vp-uielement__button--showmoretools, &.vp-uielement__button--deployselectedtoolsenabled, &.vp-uielement__button--deployselectedtoolsdisabled {
    min-width: @largeBtnWidth;
    border-radius: @btnHeight;
}

// UI MODIFIERS
// ENABLED "DEPLOY" and "UPDATE" and "DEPLOY SELECTED TOOLS" BUTTONs VIEW
.vp-uielement__button--deployenabled, &.vp-uielement__button--updateenabled, &.vp-uielement__button--downloadenabled {
    .ba--solid(@cs02);
    .bg--cs02;
    .text--cs06;
}

// DISABLED "DEPLOY" "UPDATE" "DEPLOY SELECTED TOOLS" BUTTONS VIEW
.vp-uielement__button--deploydisabled, &.vp-uielement__button--updatedisabled, &.vp-uielement__button--deployselectedtoolsdisabled {
    .ba--solid(@cs09);
    .bg--cs09;
    .text--cs08;
    cursor: default;
}

// "EDIT TOOL" BUTTON VIEW
.vp-uielement__button--edittool, &.vp-uielement__button--deployselectedtoolsenabled, &.vp-uielement__button--close {
    .ba--solid(@cs02);
    .bg--transparent;
    .text--cs02;
}

// "APPLY", "ALL TOOLS" , 'SHOW MORE TOOLS' BUTTONS VIEW
.vp-uielement__button--apply, &.vp-uielement__button--alltools, &.vp-uielement__button--showmoretools {
    .ba--solid(@cs07);
    .bg--cs07;
    .text--cs06;
}

// "CANCLE" BUTTON VIEW
.vp-uielement__button--cancle {
    .ba--solid(@cs07);
    .bg--transparent;
    .text--cs02;
}

// CLEAN STYLE (green text only) BUTTON VIEW
.vp-uielement__button--cleanenabled, &.vp-uielement__button--removeenabled {
    .ba--solid(transparent);
    .bg--transparent;
    .text--cs07;
    .text--regular;
    .text--md;
}

// CLEAN STYLE (grey text) BUTTON VIEW
.vp-uielement__button--cleandisabled, &.vp-uielement__button--removedisabled {
    .ba--solid(transparent);
    .bg--transparent;
    .text--cs08;
    .text--regular;
    .text--md;
}

// ICON BUTTONS
.vp-uielement__button--icon {
    .bg--transparent;
}

// SMALL CLOSE BUTTON
.vp-uielement__button--smallclose {
    width: @smallCloseBtnSize;
    height: @smallCloseBtnSize;
    background: url('../assets/images/icons/small_x_btn.png') no-repeat;
    background-size: contain;
}

// DROP DOWN OPEN ARROW BUTTON
.vp-uielement__button--dropdownarrow {
    width: @dropDownBtnWidth;
    height: @dropDownHeight;
    background: url('../assets/images/icons/dropdown_open.png') no-repeat;
    background-size: contain;
}

// DROP DOWN CLOSE ARROW BUTTON
.vp-uielement__button--dropdownarrowclosed {
    width: @dropDownHeight;
    height: @dropDownBtnWidth;
    background: url('../assets/images/icons/dropdown_closed.png') no-repeat;
    background-size: contain;
}

// MACHINES BUTTONS COMMON STYLES
.vp-uielement__button--nextmachineenabled, &.vp-uielement__button--nextmachinedisabled, &.vp-uielement__button--previousmachineenabled, &.vp-uielement__button--previousmachinedisabled {
    width: @machinesBtnWidth;
    height: @machinesBtnHeight;
    background-size: contain;
}

// NEXT MACHINE ENABLE BUTTON
.vp-uielement__button--nextmachineenabled {
    background: url('../assets/images/icons/next_machine_enable_btn.png') no-repeat;
}

// NEXT MACHINE DIASABLE BUTTON
.vp-uielement__button--nextmachinedisabled {
    background: url('../assets/images/icons/next_machine_disable_btn.png') no-repeat;
}

// PREVIOUS MACHINE ENABLE BUTTON
.vp-uielement__button--previousmachineenabled {
    background: url('../assets/images/icons/previous-_machine_enable_btn.png') no-repeat;
}

// PREVIOUS MACHINE DISABLE BUTTON
.vp-uielement__button--previousmachinedisabled {
    background: url('../assets/images/icons/previous-_machine_disable_btn.png') no-repeat;
}

// REMOVE BUTTON ICON
.vp-uielement__button--removeenabled, &.vp-uielement__button--removedisabled {
    background: url('../assets/images/icons/discard_btn.png') no-repeat;
    line-height: @removeBtnHeight;
    min-width: @removeBtnHeight;
    min-height: @removeBtnHeight;
}

.vp-uielement__button--edit {
    .pa--none;
    border-radius: 0;
    width: @editBtnWidth;
    height: @editBtnHeight;
    background: url('../assets/images/icons/edit_green_btn.png') no-repeat;
    background-size: contain;
}
.vp-uielement__button--view {
    .pa--none;
    border-radius: 0;
    width: @editBtnWidth;
    height: @editBtnHeight;
    background: url('../assets/images/icons/recently_viewed_selected_icn.png') no-repeat;
    background-size: contain;
}
// PUSH AHEAD ENABLE BUTTON
.vp-uielement__button--pushback {
    background: url('../assets/images/icons/Arrow_left.png') no-repeat;
}

// PREVIOUS MACHINE ENABLE BUTTON
.vp-uielement__button--pushahead {
    background: url('../assets/images/icons/Arrow_right.png') no-repeat;
}
.vp-uielement__button--pushup {
    background: url('../assets/images/icons/Button_arrow_up.png') no-repeat;
}

// PREVIOUS MACHINE ENABLE BUTTON
.vp-uielement__button--pushdown {
    background: url('../assets/images/icons/Button_arrow_down.png') no-repeat;
}
