//SELECT INPUT STYLES
.vp-uielement__select {
    outline: none;
    overflow: hidden;
    text-indent: 0.01px;
    text-overflow: '';
    background: url('../assets/images/icons/dropbox_arrow.png') no-repeat 97%;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    &::-ms-expand{
          .hidden;
    }
}