// VARIABLES: SECTION 10 //version status
.vp-uielement__versionstate{

    &--active{
         width: @activeIconSize;
        height: @activeIconSize;
        background: url('../assets/images/icons/active_icn.png') no-repeat;
        background-size: contain;
    }
    &--inactive{
         width: @inactiveIconSize;
        height: @inactiveIconSize;
        background: url('../assets/images/icons/Deprecated_icn.png') no-repeat;
        background-size: contain;

    }

}